{% extends 'base.html.twig' %}
{% block title %}{{ 'login.title'|trans }}{% endblock %}

{% block header %}
  <header class="header-2 access-page-nav" id="login-header">
      <div class="container">
          <div class="row">
              <div class="col">
                  <div class="header-top">
                      <div class="logo-area">
                          <a href="{{ path('index') }}"><img alt="" src="{{ asset('images/logo.png') }}"></a>
                      </div>
                      <div class="top-nav" style="display: flex;">
                          <a class="account-page-link" href="{{ path('fos_user_registration_register') }}">Inscription</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
{% endblock header %}

{% block main %}
  <div class="padding-top-90 padding-bottom-90 access-page-bg">
      <div class="container">
          <div class="row">
              <div class="col-xl-4 col-md-6">
                  <div class="access-form">
                      <div class="form-header">
                          <h5>
                              <svg class="feather feather-user" fill="none" height="24" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                  <circle cx="12" cy="7" r="4"></circle>
                              </svg>{{ 'login.title'|trans }}</h5>
                      </div>
                      <form action="{{ path("fos_user_security_check") }}" method="post">
                          {% if error %}
                          <div class="form-group">
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            </div>
                          </div>
                          {% endif %}
                          <div class="form-group">
                              <input class="form-control" placeholder="{{ 'login.username'|trans }}" name="_username" type="text" value="{{ last_username }}">
                          </div>
                          <div class="form-group">
                              <input class="form-control" placeholder="{{ 'form.password'|trans }}" name="_password" type="password">
                          </div>
                          <div class="more-option">
                              {#<div class="mt-0 terms">
                                  <input class="custom-radio" id="radio-4" name="_remember_me" type="checkbox">
                                  <label for="radio-4">
                                      <span class="dot"></span>
                                      {{ 'login.remember_me'|trans }}
                                  </label>
                              </div>#}
                              <a href="{{ path('fos_user_resetting_request') }}">{{ 'login.forget_password'|trans }}</a>
                          </div>
                          {% if csrf_token %}
                              <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                          {% endif %}
                          <button class="button primary-bg btn-block">{{ 'login.submit_btn'|trans }}</button>
                      </form>
                      <p class="mt-5">Vous n'avez pas de compte?
                            <a href="{{ path('fos_user_registration_register') }}"> Inscrivez vous ici</a>
                        </p>
                      <div class="shortcut-login">
                          <span>{{ 'login.connect_with'|trans }}</span>
                          <div class="buttons">
                              <a class="facebook" href="#">
                                  <i class="fab fa-facebook-f"></i>Facebook</a>
                              <a class="google" href="#">
                                  <i class="fab fa-google"></i>Google</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock main %}

{% block footer %}
{% endblock footer %}
