<div class="input-group my-3">
    <span class="input-group-addon">
        <i class="lnr lnr-user fa-lg"></i>
    </span>
    {{ form_widget(form.fullname, {'attr': {'placeholder': 'Nom et prénom', 'class': 'form-control input-lg'}}) }}
</div>
<div class="input-group my-3">
    <span class="input-group-addon">
        <i class="lnr lnr-user fa-lg"></i>
    </span>
    {{ form_widget(form.username, {'attr': {'placeholder': 'Login', 'class': 'form-control input-lg'}}) }}
</div>
<div class="input-group my-3">
    <span class="input-group-addon">
        <i class="lnr lnr-envelope fa-lg"></i>
    </span>
    {{ form_widget(form.email, {'attr': {'placeholder': 'Adresse e-mail', 'class': 'form-control input-lg'}}) }}
</div>
<div class="input-group my-3">
    <span class="input-group-addon">
        <i class="lnr lnr-lock fa-lg"></i>
    </span>
    {{ form_widget(form.password.first, {'attr': {'placeholder': 'Mot de passe', 'class': 'form-control input-lg'}}) }}
</div>
<div class="input-group my-3">
    <span class="input-group-addon">
        <i class="lnr lnr-lock fa-lg"></i>
    </span>
    {{ form_widget(form.password.second, {'attr': {'placeholder': 'Confirmez le mot de passe', 'class': 'form-control input-lg'}}) }}
</div>
<div class="input-group my-3">
    <span class="input-group-addon">
        <i class="lnr lnr-menu fa-lg"></i>
    </span>
    {{ form_widget(form.roles, {'attr': {'placeholder': 'Role', 'class': 'form-control input-lg custom-select'}}) }}
</div>