{% extends 'admin/base.html.twig' %}

{% block left_sidebar %}

{% include 'admin/common/left-sidebar.twig' with { active: 'profile' } %}

{% endblock %}

{% block main %}
  <div class="panel panel-profile">
    <div class="clearfix">
      <!-- LEFT COLUMN -->
      <div class="col-md-4 package profile-left">
        <!-- PROFILE HEADER -->
        <div class="profile-header">
          <div class="overlay {% if user.enabled %}bg-success-2{% else %}bg-warning-2{% endif %}"></div>
          <div class="profile-main">
            <h3 class="name">{{ user.username }}</h3>
            <div class="user-state">
              {% if user.enabled %}
                  <span class="lnr lnr-checkmark-circle"></span> Activé
              {% else %}
                  {% if user.lastLogin is null %}
                    <span class="fa fa-warning"></span> En attente
                  {% else %}
                    <span class="lnr lnr-cross-circle"></span> Desactivé
                  {% endif %}
              {% endif %}
            </div>
          </div>
          <div class="profile-stat">
            <div class="row">
              <div class="col-md-12 stat-item">
                {{ user.purchases|length }} <span>Réservation·s effectuée·s</span>
              </div>
            </div>
          </div>
        </div>
        <!-- END PROFILE HEADER -->
        <!-- PROFILE DETAIL -->
        <div class="profile-detail">
          <div class="profile-info">
            <h4 class="heading">Informations de base</h4>
            <ul class="list-unstyled list-justify">
              <li>Date de inscrit <span>{{ user.submittedAt|date('d M, Y') }}</span></li>
              {# <li>Mobile <span>(221) 78 123 45 67</span></li> #}
              <li>Email <span>{{ user.email }}</span></li>
              {# <li>Site web <span><a href="#">www.un-site.com</a></span></li> #}
            </ul>
          </div>
          <div class="profile-info">
            <h4 class="heading">Actions sur le compte</h4>
            <div class="text-center">
              {% if not user.hasRole('ROLE_ADMIN') %}
                <div class="btn-group">
                    <a href="#" class="btn btn-warning m-1 px-4 my-3 {% if not user.enabled %}hidden{% endif %}" id="disable-user"><span class="lnr lnr-circle-minus"></span> Désactiver</a>
                    <a href="#" class="btn btn-info m-1 px-4 my-3 {% if user.enabled %}hidden{% endif %}" id="enable-user"><span class="lnr lnr-checkmark-circle"></span> Activer</a>
                    <a href="#" class="btn btn-danger mx-1 px-4 my-3" data-toggle="modal" data-target="#confirmDeleteModal"><span class="lnr lnr-trash"></span> Supprimer</a>
                </div>
              {% endif %}
              {% if app.user == user %}
                <a href="{{ path('fos_user_profile_edit') }}" target="_blank" class="btn btn-default btn-block my-3"><span class="lnr lnr-pencil"></span> Modifier mon profil</a>
              {% endif %}
            </div>
          </div>
          {% if not user.hasRole('ROLE_ADMIN') %}
              <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="confirmDeleteModalLabel">Confirmation</h4>
                        </div>
                        <div class="modal-body">
                            <p class="text-danger">Voulez-vous vraiment supprimer <strong>{{ user.username }}</strong> de la base de données ?</p>
                            <p class="alert alert-danger"><span class="fa fa-warning"></span> Cette action est irréversible.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-lg float-left" data-dismiss="modal">Annuler</button>
                            <form action="{{ path('admin_security_user_delete', {id: user.id}) }}" method="POST" data-confirmation="true" id="delete-form">
                              <input type="hidden" name="user[delete_token]" value="{{ csrf_token('user.delete_token') }}" />
                              <button type="submit" id="btn-user-delete" class="btn btn-danger btn-lg">
                                  <span class="lnr lnr-trash"></span> Supprimer
                              </button>
                            </form>
                        </div>
                      </div>
                  </div>
              </div>
          {% endif %}
        </div>
        <!-- END PROFILE DETAIL -->
      </div>
      <!-- END LEFT COLUMN -->
      <!-- RIGHT COLUMN -->
      <div class="col-md-8 package profile-right">
        <h4 class="heading"> ​{{ user.username }}</h4>
        <!-- TABBED CONTENT -->
        <div class="custom-tabs-line tabs-line-bottom left-aligned">
          <ul class="nav" role="tablist">
            <li class="active"><a href="#tab-bottom-left1" role="tab" data-toggle="tab">Réservation·s <span class="badge">{{ user.purchases|length }}</span></a></li>
          </ul>
        </div>
        <div class="tab-content pb-5">
          <div class="tab-pane fade in active" id="tab-bottom-left1">
            <div class="table-responsive">
              <table class="table project-table">
                {% if user.purchases|length > 0 %}
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Hôtel</th>
                    <th>Date</th>
                    <th>Statut</th>
                    <th>Liens</th>
                  </tr>
                </thead>
                <tbody>
                {% endif %}
                  {% for p in user.purchases %}
                    <tr>
                      <td>{{ loop.index }}</td>
                      <td>{{ p.estab.name }}</td>
                      <td>{{ p.createdAt|date('d M Y') }}</td>
                      <td>
                        {% if p.state == p.CONFIRMED %}
                          <span class="label label-success">{{ p.state|trans }}</span>
                        {% elseif p.state == p.PENDING %}
                          <span class="label label-info">{{ p.state|trans }}</span>
                        {% else %}
                          <span class="label label-default">{{ p.state|trans }}</span>
                        {% endif %}
                      </td>
                      <td>
                        <a href="#">Détails</a>
                      </td>
                    </tr>
                  {% else %}
                    <p class="text-center my-6">Aucune réservation effectuée.</p>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- END TABBED CONTENT -->
      </div>
      <!-- END RIGHT COLUMN -->
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ parent() }}

  <script>
    // Disable user when we click on the disable user button
    $("#disable-user").on('click', function(e){
      button = $(this)
      $.ajax({
        type: "POST",
        dataType: "json",
        url: "{{ path('admin_security_user_disable') }}",
        data: "id=" + {{ user.id }},

        success: function(data) {
          console.log('user disabled')
          button.addClass('hidden')
          $("#enable-user").removeClass('hidden')
          $('.overlay').removeClass('bg-success-2').addClass('bg-warning-2')
          $(".profile-main .user-state").html(`<span class="lnr lnr-cross-circle"></span> Desactivé`);
        },

        error: function(data) {
          console.error(data)
          alert('Une erruer est survenue au niveau du serveur.')
        }
      })
      e.preventDefault();
    });

    // Enable user when we click on the enable user button
    $("#enable-user").on('click', function(e){
      button = $(this)
      $.ajax({
        type: "POST",
        dataType: "json",
        url: "{{ path('admin_security_user_enable') }}",
        data: "id=" + {{ user.id }},

        success: function(data) {
          console.log('user enabled')
          button.addClass('hidden')
          $("#disable-user").removeClass('hidden')
          $('.overlay').removeClass('bg-warning-2').addClass('bg-success-2')
          $(".profile-main .user-state").html(`<span class="lnr lnr-checkmark-circle"></span> Activé`);
        },

        error: function(data) {
          console.error(data)
          alert('Une erruer est survenue au niveau du serveur.')
        }
      })
      e.preventDefault();
    });
  </script>


{% endblock %}