{% set in_list = ['pendings', 'jobs-list'] %}
{% set in_settings = ['featured', 'resume-of-week', 'testimonials', 'banner-ad', 'emails', 'admin-users'] %}
{% set in_create = ['new-company', 'new-user', 'new-job'] %}


<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a href="{{ path('admin_index') }}" {% if active == 'index' %} class="active" {% endif %}>
                    <i class="lnr lnr-home"></i> <span>Tableau de bord</span></a>
                </li>
                <li><a href="{{ path('admin_users') }}" {% if active == 'users' %} class="active" {% endif %}>
                    <i class="lnr lnr-users"></i> <span>Utilisateurs</span></a>
                </li>
                <li>
                    <a {% if active in ['validated_resumes', 'pending_resumes'] %}class="active" aria-expanded="true"{% else %}class="collapsed"{% endif %} data-toggle="collapse" href="#resume">
                        <i class="lnr lnr-database"></i>
                        <span>Base CV</span>
                        <i class="icon-submenu lnr lnr-chevron-left"></i>
                    </a>
                    <div class="collapse{% if active in ['validated_resumes', 'pending_resumes'] %} in{% endif %}" id="resume">
                        <ul class="nav">
                            <li><a href="{{ path('admin_resumes_list') }}" {% if active == 'validated_resumes' %} class="active" {% endif %}>
                                <span><i class="lnr lnr-checkmark-circle text-success"></i> CV validés</span></a>
                            </li>
                            <li><a href="{{ path('admin_resumes_list_pending') }}" {% if active == 'pending_resumes' %} class="active" {% endif %}>
                                <span><i class="lnr lnr-history text-warning"></i> CV à valider</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a {% if active in in_list %}class="active" aria-expanded="true"{% else %}class="collapsed"{% endif %} data-toggle="collapse" href="#ads">
                        <i class="lnr lnr-list"></i>
                        <span>Offres d'emploi</span>
                        <i class="icon-submenu lnr lnr-chevron-left"></i>
                    </a>
                    <div class="collapse{% if active in in_list %} in{% endif %}" id="ads">
                        <ul class="nav">
                            <li><a href="{{ path('admin_jobs_list') }}" {% if active == 'jobs-list' %} class="active" {% endif %}>
                                <span>En cours</span></a>
                            </li>
                            <li><a href="{{ path('admin_pendings') }}" {% if active == 'pendings' %} class="active" {% endif %}>
                                <span>En attentes de validation</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ path('admin_companies_list') }}" {% if active == 'companies' %} class="active" {% endif %}>
                    <i class="lnr lnr-briefcase"></i> <span>Organisations</span></a>
                </li>
                <li>
                    <a {% if active in in_create %}class="active" aria-expanded="true"{% else %}class="collapsed"{% endif %} data-toggle="collapse" href="#newAd">
                        <i class="lnr lnr-plus-circle"></i>
                        <span>Créer</span>
                        <i class="icon-submenu lnr lnr-chevron-left"></i>
                    </a>
                    <div class="collapse{% if active in in_create %} in{% endif %}" id="newAd">
                        <ul class="nav">
                            <li><a href="{{ path('admin_job_create') }}" {% if active == 'new-job' %} class="active" {% endif %}>
                                <span><i class="lnr lnr-bullhorn"></i> Offre d'emploi</span></a>
                            </li>
                            {% if is_granted('ROLE_RESUMES_MANAGER') %}
                                <li><a href="{{ path('admin_company_create') }}" {% if active == 'new-company' %} class="active" {% endif %}>
                                    <span><i class="lnr lnr-briefcase"></i> Organisation</span></a>
                                </li>
                            {% endif %}
                            <li><a href="{{ path('admin_user_create') }}" {% if active == 'new-user' %} class="active" {% endif %}>
                                <i class="lnr lnr-plus-circle"></i> <span>Ajouter un utilisateur</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a {% if active in in_settings %}class="active" aria-expanded="true"{% else %}class="collapsed"{% endif %} data-toggle="collapse" href="#settings">
                        <i class="lnr lnr-cog"></i>
                        <span>Paramètres</span>
                        <i class="icon-submenu lnr lnr-chevron-left"></i>
                    </a>
                    <div class="collapse{% if active in in_settings %} in{% endif %}" id="settings">
                        <ul class="nav">
                            <li><a href="{{ path('admin_settings_featured') }}" {% if active == 'featured' %} class="active" {% endif %}>
                                <span><i class="lnr lnr-star fa-lg"></i> Offres à la une</span></a>
                            </li>
                            <li><a href="{{ path('admin_settings_resume_of_week') }}" {% if active == 'resume-of-week' %} class="active" {% endif %}>
                                <span><i class="lnr lnr-pushpin fa-lg"></i> CV de la semaine</span></a>
                            </li>
                            <li><a href="{{ path('admin_settings_banner_ad') }}" {% if active == 'banner-ad' %} class="active" {% endif %}>
                                <span><i class="lnr lnr-layers fa-lg"></i> Bannière publicitaire</span></a>
                            </li>
                            <li><a href="{{ path('admin_settings_testimonials') }}" {% if active == 'testimonials' %} class="active" {% endif %}>
                                <span><i class="fa fa-comments-o fa-lg"></i> Témoignages</span></a>
                            </li>
                            {# <li><a href="{{ path('admin_settings_emails') }}" {% if active == 'emails' %} class="active" {% endif %}>
                                <span><i class="lnr lnr-envelope fa-lg"></i> Envoie d'e-mails</span></a>
                            </li> #}
                            <li><a href="{{ path('admin_settings_admin_users') }}" {% if active == 'admin-users' %} class="active" {% endif %}>
                                <span><i class="lnr lnr-users fa-lg"></i> Administrateurs</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ path('admin_jobs_list_archived') }}" {% if active == 'archives' %} class="active" {% endif %}>
                    <i class="fa fa-box"></i> <span>Arhives</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->
