<div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section-header mt-3 mb-5">
            <h4><i class="ti-search fa-sm"></i> Les recherches fréquentes</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="explore-job">
            <div class="explore-job-header">
                <h5 class="title">Par métier</h5>
                <i data-feather="bookmark"></i>
            </div>
            <div class="key-info">
              <ul>
                {% for category in job_categories %}
                  <li><a href="{{ path('applications_list', {c: category.slug}) }}">{{ category.name }}<span>({{ job_category_counts[category.slug] is defined ? job_category_counts[category.slug] : 0 }})</span></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="explore-job">
            <div class="explore-job-header">
              <h5 class="title">Par région</h5>
              <i data-feather="map-pin"></i>
            </div>
            <div class="key-info">
              <ul>
                {% for region in regions %}
                  <li><a href="{{ path('applications_list', {region: region.slug}) }}">{{ region.name }}<span>({{ region_counts[region.slug] is defined ? region_counts[region.slug] : 0 }})</span></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="explore-job">
            <div class="explore-job-header">
              <h5 class="title">Par secteur</h5>
              <i data-feather="briefcase"></i>
            </div>
            <div class="key-info">
              <ul>
                {% for industry in industries %}
                  <li><a href="{{ path('applications_list', {i: industry.slug}) }}">{{ industry.name }}<span>({{ industry_counts[industry.slug] is defined ? industry_counts[industry.slug] : 0 }})</span></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>