<div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section-header mt-3 mb-5">
            <h4><i class="ti-search fa-sm"></i> Les recherches fréquentes</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="explore-job">
            <div class="explore-job-header">
              <h5 class="title">Par métier</h5>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
            </div>
            <div class="key-info">
              <ul>
                {% for category in job_categories %}
                  <li><a href="{{ path('applications_list', {c: category.slug}) }}">{{ category.name }}<span>({{ job_category_counts[category.slug] is defined ? job_category_counts[category.slug] : 0 }})</span></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="explore-job">
            <div class="explore-job-header">
              <h5 class="title">Par région</h5>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
            </div>
            <div class="key-info">
              <ul>
                {% for region in regions %}
                  <li><a href="{{ path('applications_list', {region: region.slug}) }}">{{ region.name }}<span>({{ region_counts[region.slug] is defined ? region_counts[region.slug] : 0 }})</span></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="explore-job">
            <div class="explore-job-header">
              <h5 class="title">Par secteur</h5>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
            </div>
            <div class="key-info">
              <ul>
                {% for industry in industries %}
                  <li><a href="{{ path('applications_list', {i: industry.slug}) }}">{{ industry.name }}<span>({{ industry_counts[industry.slug] is defined ? industry_counts[industry.slug] : 0 }})</span></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>