<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Titre de l'annonce</th>
                <th>Organisation</th>
                <th>Status</th>
                <th>Date d'ajout</th>
                <th>Nombre de vues</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for offer in offers %}
                {% set company = offer.company %}
                <tr>
                    <td>
                        <a title="Afficher les details" href="{{ path('admin_offer_show', {offer: offer.id}) }}">{{ offer.title }}</a>
                    </td>
                    <td>
                        {% if company.photo %}
                            <img class="img-35" src="{{ vich_uploader_asset(company.photo, 'companyPhotoFile') }}"/>
                        {% endif %}

                        <a href="{{ path('admin_company_show', {company: company.id}) }}">
                            {{ company.name }}</a>
                    </td>
                    <td>
                        {% if offer.isActivated %}
                            <span class="label label-success">ACTIVÉ</label>
                        {% else %}
                            <span class="label label-warning">DESACTIVÉ</label>
                        {% endif %}
                    </td>
                    <td>{{ offer.createdAt|localizeddate('full', 'none', null) }}</td>
                    <td><i class="lnr lnr-eye"></i> {{ offer.viewCount }}</td>
                    <td class="px-0">
                        <div class="btn-group">
                            {% if offer.isActivated %}
                                <a class="mx-2 edit-item" href="{{ path('offer_show', {slug: offer.slug}) }}" target="_blank" data-toggle="tooltip" data-placement="top" title="Afficher sur un nouvel onglet.">
                                    <i class="fa fa-lg fa-external-link"></i>
                                </a>
                            {% endif %}
                            <a class="mx-2 delete-item" data-placement="top" data-target="#confirmDeleteOfferModal" data-ad-type="offers" data-ad-name="{{ offer.title }}" data-ad-id="{{ offer.id }}" data-toggle="modal" style="cursor:pointer;" title="Supprimer cette offre">
                                <i class="lnr lnr-trash text-danger"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <div class="modal fade item" id="confirmDeleteOfferModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteOfferModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="confirmDeleteOfferModalLabel">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-danger">Voulez-vous vraiment supprimer
                            <strong class="ad-name"></strong>
                            de la base de données ?</p>
                        <p class="alert alert-danger">
                            <span class="fa fa-warning"></span>
                            Cette action est irréversible.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-lg float-left" data-dismiss="modal">Annuler</button>
                        <form action="" method="POST" data-confirmation="true" id="delete-form">
                            <input type="hidden" name="ad[delete_token]" value="{{ csrf_token('offer.delete_token') }}"/>
                            <button type="submit" id="btn-ad-delete" class="btn btn-danger btn-lg">
                                <span class="lnr lnr-trash"></span>
                                Supprimer
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </table>
</div>
