{% trans_default_domain 'FOSUserBundle' %}

<div class="alice-bg section-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="block-wrapper pt-5">
                    <div class="payment-result">
                        <div class="icon">
                            <i data-feather="lock"></i>
                        </div>
                        <div class="col-md-7 mx-auto">
                            <div class="access-form mt-5">
                                <div class="form-header">
                                    <h5><i data-feather="rotate-ccw"></i> Réinitialisez votre mot de passe</h5>
                                </div>
                                {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'id': 'contact_form' } }) }}
                                    <div class="row">
                                        {% if not form.vars.valid %}
                                            {% for children in form.children %}
                                                {% if not children.vars.valid %}
                                                    <div class="alert alert-danger">
                                                        {% if children.first is defined %}
                                                            {{ form_errors(children.first) }}
                                                        {% else %}
                                                            {{ form_errors(children) }}
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group enter-password">
                                                <label class="required w-100">{{ 'form.new_password'|trans }}
                                                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group enter-password">
                                                <label class="required w-100">{{ 'form.new_password_confirmation'|trans }}
                                                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                                </label>
                                            </div>
                                        </div>
                                        <button class="button primary-bg btn-block">{{ 'resetting.reset.submit'|trans }}</button>
                                    </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>