{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="alice-bg section-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="block-wrapper">
              <div class="payment-result">
                <div class="icon">
                  <i data-feather="check"></i>
                </div>
                {% if is_granted('ROLE_CANDIDATE') %}
                  <h3>Compte <span>Candidat</span> activé avec succès</h3>
                  <p>Bienvenue sur {{ website.name }}!</p>
                  <div class="result" style="padding-bottom: 0">
                    <span>Vous venez d'activer votre compte candidat. Il est temps de passer à l'étape suivante:<br><a href="{{ path('edit_resume') }}" class="btn-link">Créer un CV captivant et décrochez job!</a></span>
                  </div>
                {% elseif is_granted('ROLE_EMPLOYER') %}
                  <h3>Compte <span>Recruteur</span> activé avec succès</h3>
                  <p>Bienvenue sur {{ website.name }}!</p>
                  <div class="result" style="padding-bottom: 0">
                    <span>Vous venez d'activer votre compte pour recruteur. Il est temps de passer à l'étape suivante:<br><a href="{{ path('company_edit_profile') }}" class="btn-link">Ajoutez votre organisation et trouvez des candidats.</a></span>
                  </div>
                {% endif %}
                <div class="w-100"></div>
                {% if targetUrl %}
                    <a href="{{ targetUrl }}" class="view-invoice">{{ 'registration.back'|trans }}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock fos_user_content %}
