{% extends 'base.html.twig' %}
{% block title %}{{ 'register.title'|trans }}{% endblock %}

{% from 'util/util.twig' import acceptTermsConditions %}

{% block body %}
    <header class="header-2 access-page-nav" id="login-header">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="header-top">
              <div class="logo-area">
                <a href="{{ path('index') }}"><img src="{{ asset('images/logo.png') }}" alt=""></a>
              </div>
              <div class="top-nav">
                <a href="{{ path('fos_user_security_login') }}" class="account-page-link">Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
 
    <div class="padding-top-90 padding-bottom-90 access-page-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <div class="access-form">
                        <div class="form-header">
                            <h5><i data-feather="edit"></i>{{ 'register.title'|trans }}</h5>
                        </div>
                        {{ form_start(form) }}
                        <div class="form-group">
                            Vous êtes:
                            {{ form_widget(form.accountType, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        {% if not form.vars.valid %}
                            {% for children in form.children %}
                                {% if not children.vars.valid %}
                                    <div class="alert alert-danger">
                                        {% if children.first is defined %}
                                            {{ form_errors(children.first) }}
                                        {% else %}
                                            {{ form_errors(children) }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {# <div class="form-group">
                            {{ form_widget(form.username, {'attr': {'placeholder': 'form.username', 'class': 'form-control'}}) }}
                        </div> #}
                        <div class="form-group">
                            {{ form_widget(form.email, {'attr': {'placeholder': 'form.email', 'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'form.password', 'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'form.password_confirmation', 'class': 'form-control'}}) }}
                        </div>
                        <div class="more-option terms">
                            <div class="mt-0 terms">
                                <input checked="" class="custom-radio" id="radio-4" name="termsandcondition" type="checkbox" disabled>
                                <label for="radio-4">
                                    <span class="dot"></span>
                                    {{ acceptTermsConditions() }}
                                </label>
                            </div>
                        </div>
                        <button class="button primary-bg btn-block">{{ 'user.register'|trans }}</button>
                        {{ form_end(form) }}
                        <div class="shortcut-login">
                            <span>{{ 'login.connect_with'|trans }}</span>
                            <div class="buttons">
                                <a class="facebook" href="#">
                                    <i class="fab fa-facebook-f"></i>Facebook</a>
                                <a class="google" href="#">
                                    <i class="fab fa-google"></i>Google</a>
                            </div>
                            <p>{{ 'register.have_account'|trans }}
                                <a href="{{ path('fos_user_security_login') }}">{{ 'login.submit_btn'|trans }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}