{% extends 'admin/base.html.twig' %}
{% block left_sidebar %}
    {% include 'admin/common/left-sidebar.twig' with { active: 'purchases' } %}
{% endblock %}

{% block main %}
<h3 class="page-title text-info"><span class="lnr lnr-select"></span> Réservations <span class="badge badge-info mb-1">{{ list|length }}</span></h3></h3>
<div class="row">
    <div class="col-md-12">
        <!-- TABLE STRIPED -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Liste des réservations effectués</h3>
            </div>
            <div class="panel-body">
                {% include 'admin/purchase/list-table.html.twig' with {purchases: list} %}
            </div>
        </div>
        <div class="modal fade" id="showDetailsModal" tabindex="-1" role="dialog" aria-labelledby="showDetailsModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="showDetailsModalLabel">Détails de réservation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="loading">
                            <img class="loading-img" src="{{ asset('img/white-loader.svg') }}" alt="Loading...">
                        </div>
                        <div class="content">
                        
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-lg float-left" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <!-- Page navigation start -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if list.haveToPaginate %}
                    {{ pagerfanta(
                            list,
                            'twitter_bootstrap3_translated',
                            { routeName: 'admin_purchases_paginated',
                                    routeParams: app.request.query.all,
                                    prev_message: 'Précédant',
                                    next_message: 'Suivant',
                                    page_template: '<li><a href="%href%" %rel%>%text%</a></li>'
                            }
                        )
                    }}
                {% else %}
                    <li><button type="button" class="btn btn-default disabled">1</button> </li>
                {% endif %}
            </ul>
        </nav>
        <!-- Page navigation end -->
        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}
    {{ parent() }}
    
    <script>
        $('#showDetailsModal').on('show.bs.modal', function (event) {
            // Show the loading screen
            $("#showDetailsModal .loading").show();

            var purchaseId = $(event.relatedTarget).data('purchase-id')
            var modal = $(this)

            modal.find('.content').html('Chargement en cours...');

            $.ajax({
                type: "GET",
                dataType: "html",
                url: "{{ path('admin_purchase_show') }}",
                data: 'id=' + purchaseId,
                success: function(data) {
                    $("#showDetailsModal .loading").hide();
                    modal.find('.content').html(data)

                    var confirmBtn = $("#purchase-actions .confirm");
                    var cancelBtn = $("#purchase-actions .cancel");

                    confirmBtn.on("click", function(e){
                        purchaseValidate('confirm', purchaseId).then(function(res){
                            if(res) {
                                purchaseValidated('confirmed', purchaseId)
                            }
                            else {
                                alert('Erreur du serveur')
                            }
                        }).fail(function(err){
                            console.log(err)
                        })
                    })

                    cancelBtn.on("click", function(e){
                        purchaseValidate('cancel', purchaseId).then(function(res){
                            if(res) {
                                purchaseValidated('cancelled', purchaseId)
                            }
                            else {
                                alert('Erreur du serveur')
                            }
                        })
                    })
                },

                error: function(data) {
                    $("#showDetailsModal .loading").hide();
                }
            });
        })

        function purchaseValidated(newState, purchaseId) {
            var text = newState == 'cancelled' ? 'Annulée' : 'Confirmée';
            var status = `<span class="label label-${newState == 'cancelled' ? 'default' : 'success'}"> ${text}</span>`;
            
            $("#purchase-actions").html(`<p class="text-center text-default"><i class="lnr lnr-checkmark-circle"></i> La réservation a été ${text}</p>`)
            $(".purchase-details .statut").html(status)
            $(".purchase.p-" + purchaseId + " .state").html(status)

        }

        function purchaseValidate(action, id) {
            var settings = {
                "url": "{{ path('admin_purchase_validate') }}",
                "method": "POST",
                "data": {
                    "id": id,
                    "action": action
                }
            }

            return $.ajax(settings);
        }

    </script>

{% endblock %}