<div class="table-responsive">
    <table class="table project-table table-bordered">
        {% if purchases|length > 0 %}
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Hôtel</th>
                    <th>Email du client</th>
                    <th>Date</th>
                    <th>Statut</th>
                    <th>Détails</th>
                </tr>
            </thead>
            <tbody>
            {% endif %}
            {% for p in purchases %}
                <tr class="purchase p-{{ p.id}}">
                    <td>{{ p.id }}</td>
                    <td>{{ p.estab.name }}</td>
                    <td>
                        {% if p.user is not null %}
                            <a href="{{ path('admin_user_show', {user: p.user.id}) }}">{{ p.user.email }}</a>
                        {% else %}
                            {{ p.email }}
                        {% endif %}
                    </td>
                    <td>{{ p.createdAt|localizeddate('full', 'none', app.request.locale )|capitalize }}</td>
                    <td class="state">
                        {% if p.state == p.CONFIRMED %}
                            <span class="label label-success">{{ p.state|trans }}</span>
                        {% elseif p.state == p.PENDING %}
                            <span class="label label-warning">{{ p.state|trans }}</span>
                        {% else %}
                            <span class="label label-default">{{ p.state|trans }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a class="edit-item" href="#" data-toggle="modal" data-purchase-id="{{ p.id }}" data-target="#showDetailsModal">
                            <i class="lnr lnr-eye fa-lg"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <p class="text-center my-6">Aucune réservation effectuée.</p>
            {% endfor %}
        </tbody>
    </table>
</div>