{{ form_start(form) }}
<div class="container-fluid">
    <div class="col-12 mb-5">
        <label>Titre de la publicité</label>
        {{ form_widget(form.title, {'attr': {'class': 'form-control input-lg'}}) }}
    </div>

    <div class="col-12 mb-5">
        <label>URL de redirection</label>
        {{ form_widget(form.url, {'attr': {'class': 'form-control input-lg'}}) }}
    </div>

    <div class="col-12 mb-5">
        <label class="col-sm-12 pl-0">Image</label>
        <div class="col-sm-12 mb-5">
            <div class="preview-container">
                {% if editing and banner.image is not null %}
                    <img id="img-preview" src="{{ vich_uploader_asset(banner.image, 'file') }}">
                {% endif %}
            </div>
            <label class="cursor-pointer file-upload w-auto bg-primary py-3 px-3 my-0 text-white rounded shadow">
                <i class="fa fa-upload"></i>
                Uploader une image: GIF, JPG, PNG
                {{ form_widget(form.image.file, {attr: {class: 'hidden'}}) }}
            </label>
        </div>
    </div>

    <div class="my-5 container-fluid px-0">
        <hr>
        <button type="submit" class="btn btn-success btn-lg">Enregistrer</button>
    </div>
</div>
{{ form_end(form) }}
