{% extends 'base.html.twig' %}
{% import 'util/breadcrumb.html.twig' as breadcrumb %}

{% block title %} {{ 'layout.contact_us'|trans }} &ndash; {{ website.name }}{% endblock %}

{% block main %}

    {{ breadcrumb.level_1('layout.contact_us') }}

    <div class="alice-bg section-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="contact-block">
              <div class="row">
                <div class="col-lg-4">
                  <div class="contact-address">
                    <h4>{{ 'contact.infos'|trans }}</h4>
                    <ul>
                      <li><i data-feather="map-pin"></i>{{ website.address }}</li>
                      <li><i data-feather="mail"></i>{{ website.email }}</li>
                      <li><i data-feather="phone-call"></i>{{ website.phoneNumber }}</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-7 offset-lg-1">
                  <div class="contact-form">
                    <h4>{{ 'contact.keep_in_touch'|trans }}</h4>
                    {{ form_start(form) }}
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'form.name'} }) }}
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'form.email'} }) }}
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            {{ form_widget(form.subject, {'attr': {'class': 'form-control', 'placeholder': 'form.subject'} }) }}
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'form.message'} }) }}
                          </div>
                        </div>
                      </div>
                      <button class="button">{{ 'form.submit'|trans }}</button>
                      <p class="input-success">{{ 'contact.success'|trans }}</p>
                      <p class="input-error">{{ 'contact.error'|trans }}</p>
                    {{ form_end(form) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'common/call-to-action.html.twig' %}

{% endblock %}
