{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans({'%name%': website.name}) }}{% endblock %}

{% block main %}

{% set categories_count = categoriesCount() %}
    <!-- Banner -->
    <div class="banner banner-3 banner-3-bg">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="banner-content">
            <h1>{{ 'home.banner_title'|trans({'%x%': categories_count['all']}) }}</h1>
              <p>{{ 'home.banner_text'|trans }}</p>
              
              {% if is_granted('ROLE_EMPLOYER') %}
                <a href="{{ path('applications_list') }}" class="button">{{ 'action.explore_jobs'|trans }}</a>
              {% else %}
                <a href="{{ path('add_resume') }}" class="button">{{ 'home.add_resume'|trans }}</a>
              {% endif %}              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner End -->

    <!-- Search and Filter -->
    <div class="searchAndFilter-wrapper">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="searchAndFilter-block">
              <div class="searchAndFilter">
                <form action="{{ path('applications_list') }}" class="search-form">
                  <input type="text" placeholder="{{ 'form.enter_keywords'|trans }}">
                  <select class="selectpicker" id="search-location">
                    <option value="" selected>{{ 'word.region'|trans }}</option>
                    {% for region in regions %}
                      <option value="{{ region.slug }}">{{ region.slug|trans({}, 'regions') }}</option>
                    {% endfor %}
                  </select>
                  <select class="selectpicker" id="search-category">
                    <option value="" selected>{{ 'word.category'|trans }}</option>
                    {% for category in categories %}
                      <option value="{{ category.slug }}">{{ category.slug|trans({}, 'jobs-categories') }}</option>
                    {% endfor %}
                  </select>
                  <button class="button primary-bg"><i class="fas fa-search"></i>{{ 'job.search'|trans }}</button>
                </form>
                <div class="filter-categories">
                  <h4>{{ 'job.by_category'|trans }}</h4>
                  <ul>
                    <li><a href="{{ path('applications_list_category', {slug: 'banque-finance-assurance'}) }}"><i data-feather="bar-chart-2"></i>{{ 'banque-finance-assurance'|trans({}, 'jobs-categories') }} <span>({{ categories_count['banque-finance-assurance'] }})</span></a></li>
                    <li><a href="{{ path('applications_list_category', {slug: 'enseignement-recherche'}) }}"><i data-feather="edit-3"></i>{{ 'enseignement-recherche'|trans({}, 'jobs-categories') }} <span>({{ categories_count['enseignement-recherche'] }})</span></a></li>
                    <li><a href="{{ path('applications_list_category', {slug: 'desgin-infographie-multimedia'}) }}"><i data-feather="feather"></i>{{ 'desgin-infographie-multimedia'|trans({}, 'jobs-categories') }} <span>({{ categories_count['desgin-infographie-multimedia'] }})</span></a></li>
                    <li><a href="{{ path('applications_list_category', {slug: 'sante'}) }}"><i data-feather="briefcase"></i>{{ 'sante'|trans({}, 'jobs-categories') }} <span>({{ categories_count['sante'] }})</span></a></li>
                    <li><a href="{{ path('applications_list_category', {slug: 'ingenierie-architecture'}) }}"><i data-feather="package"></i>{{ 'ingenierie-architecture'|trans({}, 'jobs-categories') }} <span>({{ categories_count['ingenierie-architecture'] }})</span></a></li>
                    <li><a href="{{ path('applications_list_category', {slug: 'marketing-communication'}) }}"><i data-feather="pie-chart"></i>{{ 'marketing-communication'|trans({}, 'jobs-categories') }} <span>({{ categories_count['marketing-communication'] }})</span></a></li>
                    <li><a href="{{ path('applications_list_category', {slug: 'langue-ecrit'}) }}"><i data-feather="command"></i>{{ 'langue-ecrit'|trans({}, 'jobs-categories') }} <span>({{ categories_count['langue-ecrit'] }})</span></a></li>
                    <li><a href="{{ path('applications_list_category', {slug: 'service-client'}) }}"><i data-feather="globe"></i>{{ 'service-client'|trans({}, 'jobs-categories') }} <span>({{ categories_count['service-client'] }})</span></a></li>
                    <li><a href="{{ path('applications_list_category', {slug: 'medias'}) }}"><i data-feather="headphones"></i>{{ 'medias'|trans({}, 'jobs-categories') }} <span>({{ categories_count['medias'] }})</span></a></li>
                    <li><a href="{{ path('applications_list_category', {slug: 'informatique-telecommunication'}) }}"><i data-feather="radio"></i>{{ 'informatique-telecommunication'|trans({}, 'jobs-categories') }} <span>({{ categories_count['informatique-telecommunication'] }})</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Search and Filter End -->

    {# Jobs #}

    {# Top Companies #}

    {# Recent jobs #}
    <div class="section-padding-bottom alice-bg">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section-header section-header-2 section-header-with-right-content">
              <h2>Offres récentes</h2>
              <a href="{{ path('applications_list') }}" class="header-right">+ <em class="f-s-normal">Parcourir toutes les offres d'emploi</em></a>
            </div>
          </div>
        </div>
        <div class="row">
            {{ render(controller('App\\Controller\\RenderedController::recentJobs')) }}
        </div>
      </div>
    </div>

    {# Regions #}
    {{ render(controller('App\\Controller\\RenderedController::regionsListing')) }}

    {# {% include 'common/registration-box.html.twig' %} #}
    {{ render(controller('App\\Controller\\RenderedController::statistics')) }}

    {# Registration box if the user is not logged in #}
    {% include 'common/registration-box.html.twig' %}
    
    {# Testimonial #}

    {# NewsLetter #}
    {% include "common/newsletter.html.twig" %}

{% endblock %}
