{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans({'%name%': website.name}) }}{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('assets/css/bootstrap-select.min.css') }}" rel="stylesheet"/>
  <link href="{{ asset('assets/css/plyr.css') }}" rel="stylesheet"/>
  <link href="{{ asset('assets/css/flag.css') }}" rel="stylesheet"/>
  <link href="{{ asset('assets/css/slick.css') }}" rel="stylesheet"/>
  <link href="{{ asset('assets/css/owl.carousel.min.css') }}" rel="stylesheet"/>
  <link href="{{ asset('assets/css/jquery.nstSlider.min.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block main %}

    <!-- Banner -->
    <div class="banner banner-3 banner-3-bg">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="banner-content">
              <h1>{{ 'home.banner_title'|trans({'%x%': '58,246'}) }}</h1>
              <p>{{ 'home.banner_text'|trans }}</p>
              <a href="{{ path('add_resume') }}" class="button">{{ 'home.add_resume'|trans }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner End -->

    <!-- Search and Filter -->
    <div class="searchAndFilter-wrapper">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="searchAndFilter-block">
              <div class="searchAndFilter">
                <form action="{{ path('applications_list') }}" class="search-form">
                  <input type="text" placeholder="{{ 'form.enter_keywords'|trans }}">
                  <select class="selectpicker" id="search-location">
                    <option value="" selected>{{ 'word.region'|trans }}</option>
                    {% for region in regions %}
                      <option value="{{ region.id }}">{{ region.name }}</option>
                    {% endfor %}
                  </select>
                  <select class="selectpicker" id="search-category">
                    <option value="" selected>{{ 'word.category'|trans }}</option>
                    {% for category in categories %}
                      <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                  </select>
                  <button class="button primary-bg"><i class="fas fa-search"></i>{{ 'job.search'|trans }}</button>
                </form>
                <div class="filter-categories">
                  <h4>{{ 'job.by_category'|trans }}</h4>
                  <ul>
                    <li><a href="{{ path('applications_list') }}"><i data-feather="bar-chart-2"></i>Accounting / Finance <span>(233)</span></a></li>
                    <li><a href="{{ path('applications_list') }}"><i data-feather="edit-3"></i>Education <span>(46)</span></a></li>
                    <li><a href="{{ path('applications_list') }}"><i data-feather="feather"></i>Design & Creative <span>(156)</span></a></li>
                    <li><a href="{{ path('applications_list') }}"><i data-feather="briefcase"></i>Health Care <span>(98)</span></a></li>
                    <li><a href="{{ path('applications_list') }}"><i data-feather="package"></i>Engineer & Architects <span>(188)</span></a></li>
                    <li><a href="{{ path('applications_list') }}"><i data-feather="pie-chart"></i>Marketing & Sales <span>(124)</span></a></li>
                    <li><a href="{{ path('applications_list') }}"><i data-feather="command"></i>Garments / Textile <span>(584)</span></a></li>
                    <li><a href="{{ path('applications_list') }}"><i data-feather="globe"></i>Customer Support <span>(233)</span></a></li>
                    <li><a href="{{ path('applications_list') }}"><i data-feather="headphones"></i>Digital Media <span>(15)</span></a></li>
                    <li><a href="{{ path('applications_list') }}"><i data-feather="radio"></i>Telecommunication <span>(03)</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Search and Filter End -->

    {# Jobs #}

    {# Top Companies #}

    {# Pricing #}

    {# Registration box if the user is not logged in #}
    {% include 'common/registration-box.html.twig' %}

    {# Testimonial #}

    {# NewsLetter #}
    {% include "common/newsletter.html.twig" %}

{% endblock %}


{% block javascript %}
  {{ parent() }}

  <script src="{{ asset('assets/js/jquery.nstSlider.min.js') }}"></script>
  <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
  <script src="{{ asset('assets/js/visible.js') }}"></script>
  <script src="{{ asset('assets/js/jquery.countTo.js') }}"></script>
  <script src="{{ asset('assets/js/chart.js') }}"></script>
  <script src="{{ asset('assets/js/plyr.js') }}"></script>
  <script src="{{ asset('assets/js/tinymce.min.js') }}"></script>
  <script src="{{ asset('assets/js/slick.min.js') }}"></script>
  <script src="{{ asset('assets/js/jquery.ajaxchimp.min.js') }}"></script>
  <script src="{{ asset('js/custom.js') }}"></script>
{% endblock javascript %}