{% extends 'base.html.twig' %}

{% block stylesheets %}
        <link href="{{ asset('assets/css/bootstrap-select.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/plyr.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/flag.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/slick.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/owl.carousel.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/jquery.nstSlider.min.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block main %}

    <!-- Banner -->
    <div class="banner banner-3 banner-3-bg">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="banner-content">
              <h1>58,246 Job Listed</h1>
              <p>Create free account to find thousands Jobs, Employment & Career Opportunities around you!</p>
              <a href="add-resume.html" class="button">Upload Resume</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner End -->

    <!-- Search and Filter -->
    <div class="searchAndFilter-wrapper">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="searchAndFilter-block-3">
              <div class="searchAndFilter-3">
                <form action="home-3.html#" class="search-form">
                  <div class="keyword">
                    <label>What?</label>
                    <input type="text" placeholder="Enter Your Keywords">
                  </div>
                  <div class="location-input">
                    <label>Where?</label>
                    <select class="selectpicker" id="search-location">
                      <option value="" selected>All Locations</option>
                      <option value="california">California</option>
                      <option value="las-vegas">Las Vegas</option>
                      <option value="new-work">New Work</option>
                      <option value="carolina">Carolina</option>
                      <option value="chicago">Chicago</option>
                      <option value="silicon-vally">Silicon Vally</option>
                      <option value="washington">Washington DC</option>
                      <option value="neveda">Neveda</option>
                    </select>
                  </div>
                  <div class="category-input">
                    <label>Category</label>
                    <select class="selectpicker" id="search-category">
                      <option value="" selected>All Categories</option>
                      <option value="real-state">Real State</option>
                      <option value="vehicales">Vehicales</option>
                      <option value="electronics">Electronics</option>
                      <option value="beauty">Beauty</option>
                      <option value="furnitures">Furnitures</option>
                    </select>
                  </div>
                  <button class="button primary-bg"><i class="fas fa-search"></i></button>
                </form>
                <div class="filter-categories">
                  <h4><i data-feather="align-left"></i>Job Category</h4>
                  <ul>
                    <li><a href="job-listing.html">Accounting / Finance <span>(233)</span></a></li>
                    <li><a href="job-listing.html">Education <span>(46)</span></a></li>
                    <li><a href="job-listing.html">Design & Creative <span>(156)</span></a></li>
                    <li><a href="job-listing.html">Health Care <span>(98)</span></a></li>
                    <li><a href="job-listing.html">Engineer & Architects <span>(188)</span></a></li>
                    <li><a href="job-listing.html">Marketing & Sales <span>(124)</span></a></li>
                    <li><a href="job-listing.html">Garments / Textile <span>(584)</span></a></li>
                    <li><a href="job-listing.html">Customer Support <span>(233)</span></a></li>
                    <li><a href="job-listing.html">Digital Media <span>(15)</span></a></li>
                    <li><a href="job-listing.html">Telecommunication <span>(03)</span></a></li>
                  </ul>
                </div>
                <div class="filter-location">
                  <h4><i data-feather="map-pin"></i>Location Filter</h4>
                  <ul>
                    <li><a href="job-listing.html">New York City <span>(233)</span></a></li>
                    <li><a href="job-listing.html">Washington, D.C <span>(46)</span></a></li>
                    <li><a href="job-listing.html">Chicago <span>(156)</span></a></li>
                    <li><a href="job-listing.html">San Francisco <span>(98)</span></a></li>
                    <li><a href="job-listing.html">Los Angeles <span>(188)</span></a></li>
                    <li><a href="job-listing.html">Boston <span>(124)</span></a></li>
                    <li><a href="job-listing.html">Seattle <span>(584)</span></a></li>
                    <li><a href="job-listing.html">New Orleans <span>(233)</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Search and Filter End -->

    <!-- Jobs -->

    <!-- Top Companies -->

    <!-- Pricing -->

    <!-- Registration Box -->
    {% include "common/registration-box.html.twig" %}

    <!-- Testimonial -->

    <!-- NewsLetter -->
    {% include "common/newsletter.html.twig" %}

{% endblock %}


{% block javascript %}
    {{ parent() }}

    <script src="{{ asset('assets/js/jquery.nstSlider.min.js') }}"></script>
    <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/js/visible.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.countTo.js') }}"></script>
    <script src="{{ asset('assets/js/chart.js') }}"></script>
    <script src="{{ asset('assets/js/plyr.js') }}"></script>
    <script src="{{ asset('assets/js/tinymce.min.js') }}"></script>
    <script src="{{ asset('assets/js/slick.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
{% endblock javascript %}