{% extends 'base.html.twig' %}

{% import 'util/breadcrumb.html.twig' as breadcrumb %}

{% block title %} {{ 'layout.pricing'|trans() }} &ndash; {{ website.name }}{% endblock %}

{% block main %}

    {{ breadcrumb.level_1('layout.pricing') }}

    <div class="alice-bg section-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="white-bg others-block">
              <div class="pricing-plan-block padding-top-60 padding-bottom-90">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <div class="pricing-controller">
                      {# <span class="duration duration-month active">{{ 'word.monthly'|trans }}</span>
                      <div class="switch-wrap"><span class="price-switch"></span></div>
                      <span class="duration duration-year">{{ 'word.yearly'|trans }}<span>{{ 'pricing.off'|trans({'%x': 20}) }}</span></span> #}
                      <span class="duration text-dark">Profitez de <span>35% de réduction</span> à partir de l'offre Gold!</span>
                    </div>
                    <div class="package-wrapper">
                      <div class="package pb-3 free shadow-sm pt-3">
                        <div class="package-header rounded-top">
                          <h5 class="cost">9 000 FCFA</h5>
                          <span class="title">{{ 'pricing.standard.label'|trans }}</span>
                        </div>
                        <div class="package-features">
                          <ul>
                            {% for i in 0 .. 5 %}
                              <li class="active">{{ ('pricing.standard.unlocked_features.' ~ i )|trans }}</li>
                            {% endfor %}

                            {% for i in 0 .. 2 %}
                              <li>{{ ('pricing.standard.locked_features.' ~ i )|trans }}</li>
                            {% endfor %}
                          </ul>
                          <a href="#" onclick="return false" class="button">{{ 'pricing.try_now'|trans }}</a>
                        </div>
                      </div>
                      <div class="package pb-3 professional mx-2 shadow">
                        <div class="package-header rounded-top">
                          <h5 class="cost monthly-rate">45 000 FCFA</h5>
                          {# <h5 class="cost yearly-rate hidden">{{ 'pricing.pro.price_off'|trans }}<span>/{{ 'word.month'|trans }}</span></h5> #}
                          <span class="title">{{ 'pricing.pro.label'|trans }}</span>
                        </div>
                        <div class="package-features">
                          <ul>
                            {% for i in 0 .. 5 %}
                              <li class="active">{{ ('pricing.pro.unlocked_features.' ~ i )|trans }}</li>
                            {% endfor %}

                            {% for i in 0 .. 2 %}
                              <li>{{ ('pricing.pro.locked_features.' ~ i )|trans }}</li>
                            {% endfor %}
                          </ul>
                          <a href="#" onclick="return false" class="button">{{ 'pricing.try_now'|trans }}</a>
                        </div>
                      </div>
                      <div class="package pb-3 entreprise shadow-sm pt-3">
                        <div class="package-header rounded-top">
                          <h5 class="cost monthly-rate">99 000 FCFA</h5>
                          {# <h5 class="cost yearly-rate hidden">{{ 'pricing.entreprise.price_off'|trans }}<span>/{{ 'word.month'|trans }}</span></h5> #}
                          <span class="title">{{ 'pricing.pro_plus.label'|trans }}</span>
                        </div>
                        <div class="package-features">
                          <ul>
                            {% for i in 0 .. 6 %}
                              <li class="active">{{ ('pricing.pro_plus.unlocked_features.' ~ i )|trans }}</li>
                            {% endfor %}
                          </ul>
                          <a href="#" onclick="return false" class="button">{{ 'pricing.try_now'|trans }}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}