<a class="btn btn-lg px-5 btn-danger text-white" data-toggle="modal" data-target="#confirmDeleteModal" class="btn btn-lg px-5 btn-danger text-white">
    <span class="fas fa-trash"></span> {{ 'word.delete'|trans }}
</a>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-body bg-warning">
                <h4 class="text-danger">{{ 'form.job.delete_modal.title'|trans }}</h4>
                <p>{{ 'form.job.delete_modal.body'|trans|raw }}</p>
            </div>
            <div class="modal-footer">
                <form action="{{ delete_path }}" method="POST" data-confirmation="true" id="delete-form">
                    <input type="hidden" name="app_delete_token" value="{{ csrf_token('app.delete') }}" />

                    <button type="button" class="btn btn-info" id="btnNo" data-dismiss="modal">
                            <span class="fa fa-ban" aria-hidden="true"></span> {{ 'word.cancel'|trans }}
                        </button>
                    <button type="submit" class="btn btn-danger btn-delete">
                            <span class="fa fa-trash" aria-hidden="true"></span> {{ 'word.delete'|trans }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
