{% import 'util/util.twig' as util %}

{{ form_start(form, {'attr': {'class': 'dashboard-form job-post-form'}}) }}
    <div class="dashboard-section basic-info-input">
        <h4><i data-feather="plus-circle"></i>{{ 'job.new.h1'|trans }}<span class="float-right small text-capitalize">{{ 'form.required_inputs'|trans|raw }}</span></h4>

        {% if not form.vars.valid %}
            {% for children in form.children %}
                {% if not children.vars.valid %}
                    <div class="alert alert-danger">
                        {% if children.first is defined %}
                            {{ form_errors(children.first) }}
                        {% else %}
                            {{ form_errors(children) }}
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="form-group row">
            <label class="col-md-3 col-form-label">
                {{ 'form.job.title'|trans }}
                {{ util.formRequired() }}
            </label>
            <div class="col-md-9">
                {{ form_widget(form.jobTitle, {'attr': {'placeholder': 'form.job.title', 'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <label class="col-md-3 col-form-label">{{ 'form.job.summary'|trans }}</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.postCategory, {'attr': {'class': 'form-control'}}) }}
                            <i class="fa fa-caret-down"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.contractType, {'attr': {'class': 'form-control'}}) }}
                            <i class="fa fa-caret-down"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.experience, {'attr': {'class': 'form-control'}}) }}
                            <i class="fa fa-caret-down"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.salary, {'attr': {'placeholder': 'form.job.salary', 'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.minStudyLevel, {'attr': {'class': 'form-control'}}) }}
                            <i class="fa fa-caret-down"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
                            <i class="fa fa-caret-down"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.nbCandidatesToRecruit, {'attr': {'class': 'form-control', 'placeholder': 'form.job.vacancy'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group datepicker">
                            {{ form_widget(form.dates.end, {'type': 'date', 'attr': {'class': 'form-control', 'placeholder': 'form.job.deadline' }}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-md-3 col-form-label">
                {{ 'form.job.description'|trans }}
                {{ util.formRequired() }}
            </label>
            <div class="col-md-9">
                {{ form_widget(form.jobDescription, {'attr': {'class': 'tinymce-editor tinymce-editor-1', 'placeholder': 'form.job.summary' }}) }}
            </div>
        </div>
        <div class="row">
            <label class="col-md-3 col-form-label">{{ 'form.job.responsibilities'|trans }}
                <a tabindex="0" class="btn btn-link" role="button" data-toggle="popover" data-html="true" data-title="{{ 'form.job.resp_help.title'|trans }}" data-content="{{ 'form.job.resp_help.text'|trans|raw }}">
                    <i class="fas fa-question-circle fa-lg"></i>
                </a>
            </label>
            <div class="col-md-9">
                {{ form_widget(form.responsibilities, {'attr': {'class': 'tinymce-editor tinymce-editor-2' }}) }}
            </div>
        </div>
        <div class="row">
            <label class="col-md-3 col-form-label">{{ 'form.job.other_benefits'|trans }}
                <a tabindex="0" class="btn btn-link" role="button" data-toggle="popover" data-html="true" data-title="{{ 'form.job.benefits.title'|trans }}" data-content="{{ 'form.job.benefits.text'|trans|raw }}">
                    <i class="fas fa-question-circle fa-lg"></i>
                </a>
            </label>
            <div class="col-md-9">
                {{ form_widget(form.benefits, {'attr': {'class': 'tinymce-editor tinymce-editor-2' }}) }}
            </div>
        </div>
        {% if company is null %}
            <div class="row">
                <label class="col-md-3 col-form-label">
                    {{ 'form.about_company.label'|trans({}, 'company') }}
                    {{ util.formRequired() }}
                </label>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.company.name, {'attr': {'class': 'form-control', 'placeholder': 'form.company.name' }}) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.company.address, {'attr': {'class': 'form-control', 'placeholder': 'form.company.address' }}) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.company.email, {'attr': {'class': 'form-control', 'placeholder': 'form.company.email' }}) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.company.region, {'attr': {'class': 'form-control', 'placeholder': 'form.company.region' }}) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_widget(form.company.website, {'attr': {'class': 'form-control', 'placeholder': 'form.company.website' }}) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form_widget(form.company.description, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="col-md-3 col-form-label">
                    {{ 'logo'|trans({}, 'company') }}
                </label>
                <div class="col-md-9">
                    <div class="upload-profile-photo">
                        <div class="update-photo">
                            <img alt="Pas de logo" class="image" src="{{ asset('images/account/default-logo.jpg') }}">
                        </div>
                        <div class="file-upload">{{ 'form.edit_logo'|trans({}, 'company') }}
                            {{ form_widget(form.company.photo.companyPhotoFile, {'attr': {'class': 'file-input'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-bottom my-5 py-5"></div>
        {% endif %}
        <div class="row">
            <label class="col-md-3 col-form-label">{{ 'pricing.select_plan'|trans }}</label>
            <div class="col-md-9">
                <div class="package-select">
                    <div class="package-select-inputs">
                        <div class="form-group">
                            <input checked class="custom-radio" id="radio_1" name="my-radio" type="radio" value="1">
                            <label for="radio_1">
                                <span class="dot"></span>
                                <span class="package-type">{{ 'pricing.free.label'|trans }}</span>
                                {{ 'pricing.free.price'|trans }}
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="custom-radio" id="radio_2" name="my-radio" type="radio" value="1">
                            <label for="radio_2">
                                <span class="dot"></span>
                                <span class="package-type">{{ 'pricing.pro.label'|trans }}</span>
                                {{ 'pricing.pro.price'|trans }}
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="custom-radio" id="radio_3" name="my-radio" type="radio" value="1">
                            <label for="radio_3">
                                <span class="dot"></span>
                                <span class="package-type">{{ 'pricing.entreprise.label'|trans }}</span>
                                {{ 'pricing.entreprise.price'|trans }}
                            </label>
                        </div>
                    </div>
                    <div class="payment-method">
                        <a class="credit active" href="#">
                            <i class="fas fa-credit-card"></i>{{ 'payment.credit_card'|trans }}
                        </a>
                        <a class="paypal" href="#">
                            <i class="fab fa-cc-paypal"></i>{{ 'payment.paypal'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 offset-md-3">
                <div class="form-group terms">
                    <input class="custom-radio" id="radio-4" name="termsandcondition" type="checkbox" checked disabled>
                    <label for="radio-4">
                        <span class="dot"></span>
                        {{ util.acceptTermsConditions() }}
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-9">
                <button type="submit" class="button">{{ 'form.job.publish'|trans }}</button>
            </div>
        </div>
    </div>
{{ form_end(form) }}
