{{ form_start(form, {'attr': {'class': 'dashboard-form job-post-form'}}) }}
    <div class="dashboard-section basic-info-input">
        <h4><i data-feather="user-check"></i>Post A Job</h4>

        {% if not form.vars.valid %}
            {% for children in form.children %}
                {% if not children.vars.valid %}
                    <div class="alert alert-danger">
                        {% if children.first is defined %}
                            {{ form_errors(children.first) }}
                        {% else %}
                            {{ form_errors(children) }}
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="form-group row">
            <label class="col-md-3 col-form-label">Job Title</label>
            <div class="col-md-9">
                {{ form_widget(form.jobTitle, {'attr': {'placeholder': 'Your job title here', 'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <label class="col-md-3 col-form-label">Job Summery</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.postCategory, {'attr': {'class': 'form-control'}}) }}
                            <i class="fa fa-caret-down"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.contractType, {'attr': {'class': 'form-control'}}) }}
                            <i class="fa fa-caret-down"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control">
                                <option>Experience (Optional)</option>
                                <option>Less than 1 Year</option>
                                <option>2 Year</option>
                                <option>3 Year</option>
                                <option>4 Year</option>
                                <option>Over 5 Year</option>
                            </select>
                            <i class="fa fa-caret-down"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.salary, {'attr': {'placeholder': 'Salary Range', 'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.minStudyLevel, {'attr': {'class': 'form-control'}}) }}
                            <i class="fa fa-caret-down"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control">
                                <option>H/F</option>
                                <option>Homme</option>
                                <option>Femme</option>
                            </select>
                            <i class="fa fa-caret-down"></i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.nbCandidatesToRecruit, {'attr': {'class': 'form-control', 'placeholder': 'Vacancy'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group datepicker">
                            {{ form_widget(form.dates.end, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-md-3 col-form-label">Job Description</label>
            <div class="col-md-9">
                {{ form_widget(form.jobDescription, {'attr': {'class': 'tinymce-editor tinymce-editor-1', 'placeholder': 'Job Description'}}) }}
            </div>
        </div>
        <div class="row">
            <label class="col-md-3 col-form-label">Responsibilities</label>
            <div class="col-md-9">
                <textarea class="tinymce-editor tinymce-editor-2" id="mytextarea2" placeholder="Responsibilities (Optional)"></textarea>
            </div>
        </div>
        <div class="row">
            <label class="col-md-3 col-form-label">Education</label>
            <div class="col-md-9">
                <textarea class="tinymce-editor tinymce-editor-2" id="mytextarea3" placeholder="Education (Optional)"></textarea>
            </div>
        </div>
        <div class="row">
            <label class="col-md-3 col-form-label">Other Benefits</label>
            <div class="col-md-9">
                <textarea class="tinymce-editor tinymce-editor-2" id="mytextarea4" placeholder="Description text here"></textarea>
            </div>
        </div>
        <div class="row">
            <label class="col-md-3 col-form-label">About Company</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.company.name, {'attr': {'class': 'form-control', 'placeholder': 'Company Name'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.company.address, {'attr': {'class': 'form-control', 'placeholder': 'Web Address'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.company.zip, {'attr': {'class': 'form-control', 'placeholder': 'Zip Code'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.company.region, {'attr': {'class': 'form-control', 'placeholder': 'Web Address'}}) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_widget(form.company.description, {'attr': {'class': 'form-control', 'placeholder': 'Company Description'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-md-3 col-form-label">Select Package</label>
            <div class="col-md-9">
                <div class="package-select">
                    <div class="package-select-inputs">
                        <div class="form-group">
                            <input checked class="custom-radio" id="radio_1" name="my-radio" type="radio" value="1">
                            <label for="radio_1">
                                <span class="dot"></span>
                                <span class="package-type">Free</span>
                                $0.00
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="custom-radio" id="radio_2" name="my-radio" type="radio" value="1">
                            <label for="radio_2">
                                <span class="dot"></span>
                                <span class="package-type">Stater</span>
                                $22.00
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="custom-radio" id="radio_3" name="my-radio" type="radio" value="1">
                            <label for="radio_3">
                                <span class="dot"></span>
                                <span class="package-type">Advance</span>
                                $44.00
                            </label>
                        </div>
                    </div>
                    <div class="payment-method">
                        <a class="credit active" href="employer-dashboard-post-job.html#">
                            <i class="fas fa-credit-card"></i>Credit Card</a>
                        <a class="paypal" href="employer-dashboard-post-job.html#">
                            <i class="fab fa-cc-paypal"></i>PayPal</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 offset-md-3">
                <div class="form-group terms">
                    <input class="custom-radio" id="radio-4" name="termsandcondition" type="checkbox">
                    <label for="radio-4">
                        <span class="dot"></span>
                        You accepts our
                        <a href="employer-dashboard-post-job.html#">Terms and Conditions</a>
                        and
                        <a href="employer-dashboard-post-job.html#">Privacy Policy</a>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-9">
                <button class="button">{{ 'form.post_job'|trans }}</button>
            </div>
        </div>
    </div>
{{ form_end(form) }}
