{% import 'util/util.twig' as util %}

<div class="job-filter-result">
    {% for _app in list %}
        {% set app_url = path('application_show', {slug: _app.slug}) %}
        
        <div class="job-list">
            <div class="thumb">
                <a href="{{ app_url }}">
                    <img alt="" class="img-fluid" src="/images/job/company-logo-{{ random([1, 2, 3, 8, 9, 10]) }}.png">
                </a>
            </div>
            <div class="body">
                <div class="content">
                    <h4>
                        <a href="{{ app_url }}">{{ _app.jobTitle }}</a>
                    </h4>
                    <div class="info">
                        <span class="company">
                            <a href="{{ app_url }}">
                                <i data-feather="briefcase"></i>{{ _app.company }}</a>
                        </span>
                        <span class="office-location">
                            <a href="{{ app_url }}">
                                <i data-feather="map-pin"></i>Washington</a>
                        </span>
                        <span class="job-type {{ util.jobTypeClass(_app.contractType) }}">
                            <a href="{{ app_url }}">
                                <i data-feather="clock"></i>{{ _app.contractType }}</a>
                        </span>
                    </div>
                </div>
                <div class="more">
                    <div class="buttons">
                        <a class="button" data-target="#apply-popup-id" data-toggle="modal" href="{{ app_url }}">Apply Now</a>
                        <a class="favourite" href="{{ app_url }}">
                            <i data-feather="heart"></i>
                        </a>
                    </div>
                    <p class="deadline">Deadline: {{ _app.dates.start|localizeddate('full', 'none', app.request.locale )|capitalize }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="apply-popup">
        <div aria-hidden="true" class="modal fade" id="apply-popup-id" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <i data-feather="edit"></i>APPLY FOR THIS JOB</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="job-listing.html#">
                            <div class="form-group">
                                <input class="form-control" placeholder="Full Name" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Email Address" type="email">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Message"></textarea>
                            </div>
                            <div class="form-group file-input-wrap">
                                <label for="up-cv">
                                    <input id="up-cv" type="file">
                                    <i data-feather="upload-cloud"></i>
                                    <span>Upload your resume
                                        <span>(pdf,zip,doc,docx)</span>
                                    </span>
                                </label>
                            </div>
                            <div class="more-option">
                                <input class="custom-radio" id="radio-4" name="termsandcondition" type="checkbox">
                                <label for="radio-4">
                                    <span class="dot"></span>
                                    I accept the
                                    <a href="job-listing.html#">terms & conditions</a>
                                </label>
                            </div>
                            <button class="button primary-bg btn-block">Apply Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

