{% import 'util/util.twig' as util %}
{% import 'util/company_widgets.twig' as widgets %}
{% from "util/alerts.twig" import default as alert_default %}

{% set _locale = app.request.get('_locale', 'fr') %}
{% set _locale = 'en' %}

{% if class is not defined %}
    {% set class = 'job-filter-result' %}
{% endif %}

<div class="{{ class }}">
    {% for _app in list %}
        {% set app_url = path('application_show', {slug: _app.slug}) %}
        <div class="job-list">
            {# Company thumb #}
            {{ widgets.thumb(_app.company, app_url )}}
            <div class="body">
                <div itemscope itemtype="http://schema.org/JobPosting" class="content">
                    <h4><a itemprop="title" href="{{ app_url }}">{{ _app.jobTitle }}</a></h4>
                    <div class="info">
                        <span class="company">
                            <a itemprop="url" href="{{ app_url }}">
                                <i data-feather="briefcase"></i>
                                <span itemprop="occupationalCategory">{{ _app.postCategory|trans({}, 'jobs-categories') }}</span>
                            </a>
                        </span>

                        {{ widgets.office_location(_app.company.region.slug) }}

                        {{ widgets.job_type(_app.contractType) }}
                    </div>
                </div>
                <div class="more">
                    <div class="buttons">
                        {% if app.user and app.user.haveApplied(_app) %}
                            <span class="apply text-dark"><i class="fas fa-check-circle text-success"></i> Candidature envoyé</span>
                        {% else %}
                            <a class="button" href="{{ app_url }}">Détails</a>
                            <a class="favourite" href="{{ app_url }}">
                                <i data-feather="heart" class="mb-1"></i>
                            </a>
                        {% endif %}
                    </div>
                    <p class="deadline">{{ 'job.deadline'|trans }} {{ _app.dates.end|localizeddate('full', 'none', _locale )|capitalize }}</p>
                </div>
            </div>
        </div>
    {% else %}
        {{ alert_default('Aucune offre trouvée.') }}
    {% endfor %}

    {#% include 'application/apply-popup.html.twig' %#}
</div>
