{% import 'util/util.twig' as util %}
{% import 'util/company_widgets.twig' as widgets %}

{% if class is not defined %}
    {% set class = 'job-filter-result' %}
{% endif %}


<div class="{{ class }}">
    {% for _app in list %}
        {% set app_url = path('application_show', {slug: _app.slug}) %}
        
        <div class="job-list">
            {# Company thumb #}
            {{ widgets.thumb(_app.company, app_url )}}
            <div class="body">
                <div class="content">
                    <h4>
                        <a href="{{ app_url }}">{{ _app.jobTitle }}</a>
                    </h4>
                    <div class="info">
                        <span class="company">
                            <a href="{{ app_url }}">
                                <i data-feather="briefcase"></i>{{ _app.company }}</a>
                        </span>

                        {{ widgets.office_location(_app.company.region.slug) }}

                        {{ widgets.job_type(_app.contractType) }}
                    </div>
                </div>
                <div class="more">
                    <div class="buttons">
                        <a class="button" {#data-target="#apply-popup-id" data-toggle="modal" data-app-id="{{ _app.id }}"#} href="{{ app_url }}">{{ 'job.apply_online'|trans }}</a>
                        <a class="favourite" href="{{ app_url }}">
                            <i data-feather="heart"></i>
                        </a>
                    </div>
                    <p class="deadline">{{ 'job.deadline'|trans }} {{ _app.dates.start|localizeddate('full', 'none', app.request.locale )|capitalize }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

    {#% include 'application/apply-popup.html.twig' %#}
</div>
