{% extends 'base.html.twig' %}

{% block title %}Toutes les offres &ndash; {{ parent() }}{% endblock %}

{% block main %}
    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="feather icon-folder bg-c-blue"></i>
                    <div class="d-inline">
                        <h5>Offres</h5>
                        <span>Toutes les catégories</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pcoded-inner-content">
        <div class="row">
            <div class="col-md-12">
                <div class="card table-card">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered m-b-0">
                                <thead>
                                    <tr>
                                        {# <th>
                                            <div class="checkbox-fade fade-in-primary checkbox">
                                                <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                                                </label>
                                            </div>
                                        </th> #}
                                        <th class="f-w-500">Titre</th>
                                        <th class="f-w-500">Date</th>
                                        <th class="f-w-500">Nb. Candidats</th>
                                        <th class="f-w-500">Contrat</th>
                                        <th class="f-w-500">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for _app in list %}
                                    <tr>
                                        <td><a href="{{ path('application_show', {slug: _app.slug}) }}">{{ _app.jobTitle }}</a></td>
                                        <td class="f-12 f-w-400">{{ _app.dates.start|localizeddate('full', 'none', app.request.locale )|capitalize }}</td>
                                        <td class="f-12 f-w-400">{{ _app.nbCandidatesStr }}</td>
                                        <td>
                                            <label class="badge badge-inverse-primary mb-0">{{ _app.contractType }}</label>
                                        </td>
                                        <td>
                                            <a href="{{ path('application_edit', {slug: _app.slug}) }}">
                                                <i class="icon feather icon-edit f-w-600 f-19 m-r-15 text-c-green"></i>
                                            </a>
                                            <a href="{{ path('application_delete', {slug: _app.slug}) }}">
                                                <i class="feather icon-trash-2 f-w-600 f-19 text-c-red"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
