{% extends 'base.html.twig' %}

{% block title %}{{ _app.jobTitle }} &ndash; {{ parent() }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block main %}

    <!-- Candidates Details -->
    <div class="alice-bg padding-top-60 section-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="job-listing-details">
              <div class="job-title-and-info">
                <div class="title">
                  <div class="thumb">
                    <img src="/images/job/company-logo-1.png" class="img-fluid" alt="">
                  </div>
                  <div class="title-body">
                    <h4>{{ _app.jobTitle }}</h4>
                    <div class="info">
                      <span class="company"><a href="#" onclick="return false"><i data-feather="briefcase"></i>{{ company.name }}</a></span>
                      <span class="office-location"><a href="#" onclick="return false"><i data-feather="map-pin"></i>{{ company.region }}</a></span>
                      <span class="job-type full-time"><a href="#" onclick="return false"><i data-feather="clock"></i>{{ _app.contractType|trans }}</a></span>
                    </div>
                  </div>
                </div>
                <div class="buttons">
                  <a class="save" href="#"><i data-feather="heart"></i>{{ 'job.save'|trans }}</a>
                  <a class="apply" href="#" data-toggle="modal" data-target="#apply-popup-id">{{ 'job.apply_online'|trans }}</a>
                </div>
              </div>
              <div class="details-information section-padding-60">
                <div class="row">
                  <div class="col-xl-7 col-lg-8">
                    <div class="description details-section">
                      <h4><i data-feather="align-left"></i>{{ 'job.description'|trans }}</h4>
                      <p>{{ _app.jobDescription|raw }}</p>
                    </div>

                    {% if _app.responsibilities %}
                      <div class="responsibilities details-section">
                        <h4><i data-feather="zap"></i>{{ 'job.responsibilities'|trans }}</h4>
                        {{ _app.responsibilities|raw }}
                      </div>
                    {% endif %}
                    
                    {% if _app.experience or _app.minStudyLevel %}
                      <div class="edication-and-experience details-section">
                        <h4><i data-feather="book"></i>{{ 'job.education_xp'|trans }}</h4>
                        <ul>
                          <li>{{ _app.minStudyLevel }}</li>
                          <li>{{ _app.experience|trans }}</li>
                        </ul>
                      </div>
                    {% endif %}

                    {% if _app.benefits %}
                      <div class="other-benifit details-section">
                        <h4><i data-feather="gift"></i>{{ 'job.benefits'|trans }}</h4>
                        {{ _app.benefits|raw }}
                      </div>
                    {% endif %}
                    <div class="job-apply-buttons">
                      <a href="#" class="apply"  data-toggle="modal" data-target="#apply-popup-id">{{ 'job.apply_online'|trans }}</a>
                      <a href="#" class="email"><i data-feather="mail"></i>{{ 'job.send_email'|trans }}</a>
                    </div>
                  </div>
                  <div class="col-xl-4 offset-xl-1 col-lg-4">
                    <div class="information-and-share">
                      <div class="job-summary">
                        <h4>{{ 'job.summary'|trans }}</h4>
                        <ul>
                            <li><span>{{ 'job.published_on'|trans }}</span>{{ _app.dates.start|localizeddate('full', 'none', app.request.locale )|capitalize }}</li>
                            {% if _app.nbCandidatesToRecruit %}
                                <li><span>{{ 'job.vacancy'|trans }}</span>{{ _app.nbCandidatesStr }}</li>
                            {% endif %}
                            <li><span>{{ 'job.contract_type'|trans }}</span>{{ _app.contractType|trans }}</li>
                            {% if _app.experience %}
                              <li><span>{{ 'job.experience'|trans }}</span>{{ _app.experience|trans }}</li>
                            {% endif %}
                            <li><span>{{ 'job.region'|trans }}</span>{{ company.region }}</li>
                            {% if _app.salary %}
                                <li><span>{{ 'job.salary'|trans }}</span>{{ _app.salary }}</li>
                            {% endif %}
                            {% if _app.gender %}
                              <li><span>{{ 'job.gender'|trans }}</span>{{ _app.gender|trans }}</li>
                            {% endif %}
                            {% if _app.dates.end is not null %}
                                <li><span>{{ 'job.deadline'|trans }}</span>{{ _app.dates.end|localizeddate('full', 'none', app.request.locale )|capitalize }}</li>
                            {% endif %}
                        </ul>
                      </div>
                      <div class="share-job-post">
                        <span class="share"><i class="fas fa-share-alt"></i>{{ 'job.share'|trans }}</span>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </div>
                      <div class="buttons">
                        <a href="#" class="button print"><i data-feather="printer"></i>{{ 'job.print'|trans }}</a>
                        <a href="#" class="button report"><i data-feather="flag"></i>{{ 'job.report'|trans }}</a>
                      </div>
                      {# <div class="job-location">
                        <h4>{{ 'job.location'|trans }}</h4>
                        <div id="map-area">
                          <div class="cp-map" id="location" data-lat="40.713355" data-lng="-74.005535" data-zoom="10"></div>
                          <!-- <div class="cp-map" id="location" data-lat="40.713355" data-lng="-74.005535" data-zoom="10"></div> -->
                        </div>
                      </div> #}
                    </div> 
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-7 col-lg-8">
                  <div class="company-information details-section">
                    <h4><i data-feather="briefcase"></i>{{ 'company.about'|trans }}</h4>
                    <ul>
                      <li><span>{{ 'company.name'|trans }}</span> {{ company.name }}</li>
                      {% if company.website %}
                        <li><span>{{ 'company.address'|trans }}</span> {{ company.address }}</li>
                      {% endif %}
                      {% if company.website %}
                        <li><span>{{ 'company.website'|trans }}</span> <a href="{{ url(company.website) }}">{{ company.website }}</a></li>
                      {% endif %}
                      <li><span>{{ 'company.description'|trans }}</span> {{ company.description }}</li>
                      <li>{{ company.description }}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Candidates Details End -->

    <div class="apply-popup">
      <div class="modal fade" id="apply-popup-id" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><i data-feather="edit"></i>APPLY FOR THIS JOB</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="#">
                <div class="form-group">
                  <input type="text" placeholder="Full Name" class="form-control">
                </div>
                <div class="form-group">
                  <input type="email" placeholder="Email Address" class="form-control">
                </div>
                <div class="form-group">
                  <textarea class="form-control" placeholder="Message"></textarea>
                </div>
                <div class="form-group file-input-wrap">
                  <label for="up-cv">
                    <input id="up-cv" type="file">
                    <i data-feather="upload-cloud"></i>
                    <span>Upload your resume <span>(pdf,zip,doc,docx)</span></span>
                  </label>
                </div>
                <div class="more-option">
                  <input class="custom-radio" type="checkbox" id="radio-4" name="termsandcondition">
                  <label for="radio-4">
                    <span class="dot"></span> I accept the <a href="#">terms & conditions</a>
                  </label>
                </div>
                <button class="button primary-bg btn-block">Apply Now</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Jobs -->
    <div class="section-padding-bottom alice-bg">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section-header section-header-2 section-header-with-right-content">
              <h2>{{ 'job.simillar'|trans }}</h2>
              <a href="{{ path('applications_list') }}" class="header-right">{{ 'job.browse_all'|trans }}</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="job-list">
              <div class="thumb">
                <a href="#">
                  <img src="/images/job/company-logo-1.png" class="img-fluid" alt="">
                </a>
              </div>
              <div class="body">
                <div class="content">
                  <h4><a href="">Designer Required</a></h4>
                  <div class="info">
                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Theoreo</a></span>
                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New York City</a></span>
                    <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>Full Time</a></span>
                  </div>
                </div>
                <div class="more">
                  <div class="buttons">
                    <a href="#" class="button">Apply Now</a>
                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                  </div>
                  <p class="deadline">Deadline: Oct 31,  2019</p>
                </div>
              </div>
            </div>
            <div class="job-list">
              <div class="thumb">
                <a href="#">
                  <img src="/images/job/company-logo-2.png" class="img-fluid" alt="">
                </a>
              </div>
              <div class="body">
                <div class="content">
                  <h4><a href="">Project Manager</a></h4>
                  <div class="info">
                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Degoin</a></span>
                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>San Francisco</a></span>
                    <span class="job-type part-time"><a href="#"><i data-feather="clock"></i>Part Time</a></span>
                  </div>
                </div>
                <div class="more">
                  <div class="buttons">
                    <a href="#" class="button">Apply Now</a>
                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                  </div>
                  <p class="deadline">Deadline: Oct 31,  2019</p>
                </div>
              </div>
            </div>
            <div class="job-list">
              <div class="thumb">
                <a href="#">
                  <img src="/images/job/company-logo-8.png" class="img-fluid" alt="">
                </a>
              </div>
              <div class="body">
                <div class="content">
                  <h4><a href="">Restaurant Team Member - Crew </a></h4>
                  <div class="info">
                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Geologitic</a></span>
                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New Orleans</a></span>
                    <span class="job-type temporary"><a href="#"><i data-feather="clock"></i>Temporary</a></span>
                  </div>
                </div>
                <div class="more">
                  <div class="buttons">
                    <a href="#" class="button">Apply Now</a>
                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                  </div>
                  <p class="deadline">Deadline: Oct 31,  2019</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jobs End -->

    '{% include 'common/call-to-action.html.twig' %}
{% endblock %}
