{% extends 'base.html.twig' %}

{% import 'util/company_widgets.twig' as company_widgets %}
{% import 'util/schema.twig' as schema %}

{% set absolute_url = url('application_show', {slug: _app.slug})|url_encode %}

{% block og_meta %}
  <meta property="og:url"              content="{{ absolute_url }}" />
  <meta property="og:type"             content="website" />
  <meta property="og:title"            content="{{ _app.title }} | {{ website.name }}" />
  <meta property="twitter:title"       content="{{ _app.title }} | {{ website.name }}" />
  <meta property="title"               content="{{ _app.title }} | {{ website.name }}" />
  <meta property="og:description"      content="{{ _app.description|raw[0: 400] }}" />
  <meta property="twitter:description" content="{{ _app.description|raw[0: 400] }}" />
  <meta name="description"             content="{{ _app.description|raw[0: 400] }}" />
  <meta property="twitter:card"        content="summary" />
  {% if _app.company.photo %}
    <meta property="og:image"          content=""{{ app.request.getSchemeAndHttpHost }} ~ {{ vich_uploader_asset(_app.company.photo, 'companyPhotoFile') }} />
    <meta property="twitter:image"     content=""{{ app.request.getSchemeAndHttpHost }} ~ {{ vich_uploader_asset(_app.company.photo, 'companyPhotoFile') }} />
  {% endif %}
{% endblock %}

{% block title %}{{ _app.jobTitle }} | {{ website.name }}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block main %}

    {% set haveApplied = user and user.haveApplied(_app) %}

    <!-- Candidates Details -->
    <div class="alice-bg padding-top-60 section-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="job-listing-details pt-3">
              {{ schema.job_post_details_json(_app) }}
              <div class="job-title-and-info pb-3">
                <div class="title">
                  {{ company_widgets.thumb(company) }}
                  <div class="title-body">
                    <h1 class="h2">{{ _app.jobTitle }}</h1>
                    
                    {{ company_widgets.infos(company, 'location', _app.postCategory.slug) }}
                  </div>
                </div>
                {% if not _app.isOwner(user) %}
                <div class="buttons">
                  <a class="save{{ app.user and app.user.isJobBookmarked(_app) ? ' active' : '' }}" href="#" data-url="{{ path('toogle_job_bookmark', {slug: _app.slug}) }}"><i data-feather="heart"></i>{{ 'job.save'|trans }}</a>
                  {% if is_granted('ROLE_CANDIDATE') %}
                    {% if haveApplied %}
                      <a href="javascript:void()" class="apply bg-white text-dark btn-disabled"><i class="fas fa-check-circle text-success"></i> Candidature envoyé</a>
                    {% else %}
                      <a href="#" class="apply"  data-toggle="modal" data-target="#apply-popup-id">Candidater en ligne</a>
                    {% endif %}
                  {% elseif not is_granted('ROLE_USER') %}
                    <a data-toggle="modal" href="#" data-target="#loginModal" class="apply"><i class="fas fa-briefcase"></i>&nbsp;&nbsp; Candidater en ligne</a>
                  {% endif %}
                </div>
                {% endif %}
              </div>
              <div class="details-information py-5">
                <div class="row">
                  <div class="col-xl-7 col-lg-8">
                    <div class="description details-section">
                      <h4><i data-feather="align-left"></i>{{ 'job.description'|trans }}</h4>
                      <p>{{ _app.jobDescription|raw }}</p>
                    </div>

                    {% if _app.responsibilities %}
                      <div class="responsibilities details-section mt-5">
                        <h4><i data-feather="zap"></i>{{ 'job.responsibilities'|trans }}</h4>
                        {{ _app.responsibilities|raw }}
                      </div>
                    {% endif %}
                    
                    {% if _app.experience or _app.minStudyLevel %}
                      <div class="edication-and-experience details-section mt-5">
                        <h4><i data-feather="book"></i>{{ 'job.education_xp'|trans }}</h4>
                        <ul>
                          <li>{{ _app.minStudyLevel|trans }}</li>
                          <li>{{ _app.experience|trans }}</li>
                        </ul>
                      </div>
                    {% endif %}

                    {% if _app.benefits %}
                      <div class="other-benifit details-section mt-5">
                        <h4><i data-feather="gift"></i>{{ 'job.benefits'|trans }}</h4>
                        {{ _app.benefits|raw }}
                      </div>
                    {% endif %}
                    
                    {% if _app.tools %}
                    <div class="other-benifit details-section mt-5">
                        <h4><i class="fas fa-wrench"></i>{{ 'job.tools'|trans }}</h4>
                        {{ _app.tools|raw }}
                    </div>
                    {% endif %}

                    {% if not _app.isOwner(user) %}
                      <div class="job-apply-buttons">
                        {% if is_granted('ROLE_CANDIDATE') %}
                          {% if haveApplied %}
                            <a href="javascript:void()" class="apply bg-white text-dark btn-disabled"><i class="fas fa-check-circle text-success"></i> Candidature envoyé</a>
                          {% else %}
                            <a href="#" class="apply"  data-toggle="modal" data-target="#apply-popup-id">{{ 'job.apply_online'|trans }}</a>
                          {% endif %}
                        {% else %}
                          <a data-toggle="modal" href="#" data-target="#loginModal" class="apply"><i class="fas fa-briefcase"></i>&nbsp;&nbsp; {{ 'job.apply_online'|trans }}</a>
                        {% endif %}
                          <a href="mailto:{{ _app.company.email }}" class="email"><i data-feather="mail"></i>{{ 'job.send_email'|trans }}</a>
                      </div>
                    {% endif %}
                  </div>
                  <div class="col-xl-4 offset-xl-1 col-lg-4">
                    <div class="information-and-share">
                      <div class="job-summary">
                        <h4>{{ 'job.summary'|trans }}</h4>
                        <ul>
                            <li><span>{{ 'word.company'|trans }}: </span><a href="{{ path('company_show', {slug: company.slug}) }}" class="btn-link">{{ company.name }}</a></li>
                            <li><time itemprop="publishDate" datetime="{{ _app.dates.start|date('Y-m-d\\TH:i:sP') }}" pubdate><span>{{ 'job.published_on'|trans }}</span>{{ _app.dates.start|localizeddate('full', 'none', _locale )|capitalize }}</time></li>
                            {% if _app.nbCandidatesToRecruit %}
                                <li><span>{{ 'job.vacancy'|trans }}</span>{{ _app.nbCandidatesStr }}</li>
                            {% endif %}
                            <li><span>{{ 'job.contract_type'|trans }}</span>{{ _app.contractType|trans }}</li>
                            {% if _app.experience %}
                              <li><span>{{ 'job.experience'|trans }}</span>{{ _app.experience|trans }}</li>
                            {% endif %}
                            {% if company.region %}
                              <li><span>{{ 'job.region'|trans }}</span>{{ company.region|trans({}, 'regions') }}</li>
                            {% endif %}
                            {% if _app.salary %}
                                <li><span>{{ 'job.salary'|trans }}</span>{{ _app.salary }}</li>
                            {% endif %}
                            {% if _app.gender %}
                              <li><span>{{ 'job.gender'|trans }}</span>{{ _app.gender|trans }}</li>
                            {% endif %}
                            {% if _app.dates.end is not null %}
                                <li><span>{{ 'job.deadline'|trans }}</span>{{ _app.dates.end|localizeddate('full', 'none', _locale )|capitalize }}</li>
                            {% endif %}
                        </ul>
                      </div>
                      {% if is_granted('ROLE_EMPLOYER') and _app.isOwner(app.user) %}
                        <div class="btn-group">
                          <a href="{{ path('application_edit', {slug: _app.slug}) }}" class="btn btn-lg px-5 btn-primary text-white"><span class="fas fa-edit"></span> {{ 'word.edit'|trans }}</a>
                          {{ include('application/_delete_form.html.twig', {
                                delete_path: path('application_delete', {slug: _app.slug})
                              }
                            )
                          }}
                        </div>
                      {% endif %}
                      <div class="share-job-post">
                        <span class="share"><i class="fas fa-share-alt"></i>{{ 'job.share'|trans }}</span>
                        <a target="_blank" href="whatsapp://send?text={{ absolute_url }}"><i class="fab fa-lg fa-whatsapp text-success"></i></a>
                        <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ absolute_url }}&title={{ _app.title }}"><i class="fab fa-lg fa-linkedin-in linkedin-color"></i></a>
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url }}&caption={{ _app.title }}"><i class="fab fa-lg fa-facebook-square fb-color"></i></a>
                        <a target="_blank" href="http://twitter.com/share?text={{ _app.title }}&amp;counturl={{ absolute_url }}"><i class="fab fa-lg fa-twitter twitter-color"></i></a>
                      </div>
                      <div class="buttons">
                        <a href="#" class="button print"><i data-feather="printer"></i>{{ 'job.print'|trans }}</a>
                        <a href="#" class="button report"><i data-feather="flag"></i>{{ 'job.report'|trans }}</a>
                      </div>
                      {# <div class="job-location">
                        <h4>{{ 'job.location'|trans }}</h4>
                        <div id="map-area">
                          <div class="cp-map" id="location" data-lat="40.713355" data-lng="-74.005535" data-zoom="10"></div>
                          <!-- <div class="cp-map" id="location" data-lat="40.713355" data-lng="-74.005535" data-zoom="10"></div> -->
                        </div>
                      </div> #}
                    </div> 
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-7 col-lg-8">
                  <div class="company-information details-section">
                    {{ schema.company_info_json(company) }}
                    <h4><i data-feather="briefcase"></i>{{ 'company.about'|trans }}</h4>
                    <ul>
                      <li><span>{{ 'company.name'|trans }}</span> {{ company.name }}</li>
                      {% if company.website %}
                        <li><span>{{ 'company.address'|trans }}</span> {{ company.address }}</li>
                      {% endif %}
                      {% if company.website %}
                        <li><span>{{ 'company.website'|trans }}</span> <a href="//{{ company.website }}" target="_blank">{{ company.website }}</a></li>
                      {% endif %}
                      <hr>
                      <li>{{ company.description }}</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Candidates Details End -->
    {% if is_granted('ROLE_CANDIDATE') and not haveApplied %}
      <div class="apply-popup">
        <div class="modal fade" id="apply-popup-id" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"><i data-feather="edit"></i>CANDIDATER POUR CE POSTE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ form_start(form) }}
                  <div class="form-group">
                    {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Message'}}) }}
                  </div>
                  <div class="more-option">
                    {% if user.resume %}
                      {% if user.resume.cv %}
                        {{ form_widget(form.sendCV, {'id': 'use-resume-cv', 'attr': {'checked': 'checked'}})}}
                        Envoyer mon CV enregistré
                      {% endif %}
                    {% else %}
                      <div class="alert alert-warning">
                        <p>Vous n'avez pas encore créé de CV. <a href="{{ path('add_resume') }}" class="text-info">Commencez par en créer ici</a></p>
                      </div>
                    {% endif %}
                    {% if not user.resume or not user.resume.cv %}
                      {{ form_widget(form.sendCV, {'attr': {'class': 'd-none'}}) }}
                    {% endif %}
                    
                  </div>
                  {# <div class="form-group file-input-wrap {{ class }}">
                    <label for="up-cv">
                      {{ form_widget(form.cvFile.cvFile) }}
                      <i data-feather="upload-cloud"></i>
                      <span>Uploader votre CV <span>(pdf,doc,docx)</span></span>
                    </label>
                  </div> #}
                  <button class="button primary-bg btn-block">Envoyer votre candidature</button>
                {{ form_end(form) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    
    {{ render(controller('App\\Controller\\ApplicationController::similarJobs', {category: _app.postCategory})) }}

    {% include 'common/call-to-action.html.twig' %}
{% endblock %}
