
{% if articles is not empty %}
	{% for article in articles %}
		<div class="col-md-6">
			<article class="blog-grid shadow-sm">
				{% if loop.index % 3 == 0 or loop.index == 2 %}
					<div class="thumb">
						<img src="/images/blog/thumb-1.jpg" class="img-fluid" alt="">
					</div>
				{% endif %}
				<div class="body">
					<span class="date">{{ article.updatedAt|date('d') }}
						<span>{{ article.updatedAt|date('M') }}</span>
						{# <span>{{ article.updatedAt|date('Y') }}</span> #}
					</span>
					<h3>
						<a href="{{ path('blog_article_show', {slug: article.slug}) }}">{{ article.title }}</a>
					</h3>
					<p>{{ article.content[0 : 133]|raw }}...</p>
				</div>
				<div class="info">
					<span class="author">
						<a href="#">
							<span data-feather="user"></span>{{ article.author.fullname }}
						</a>
					</span>
					<span class="comments">
						<a href="#"><span data-feather="message-circle"></span>42</a>
					</span>
				</div>
			</article>
		</div>		
	{% endfor %}
{% else %}
	<div class="alert alert-info">Pas d'articles actuellement.</div>
{% endif %}

