{% import 'util/alerts.twig' as alerts %}

{% if articles is not empty %}
	{% for article in articles %}
		{% set url = path('blog_article_show', {slug: article.slug}) %}
		<div class="col-md-6">
			<article class="blog-grid shadow-sm">
				{% if article.coverImage %}
					<div class="thumb">
						<img src="{{ vich_uploader_asset(article.coverImage, 'file') }}" class="img-fluid" alt="">
					</div>
				{% endif %}
				<div class="body">
					<span class="date">{{ article.updatedAt|date('d') }}
						<span>{{ article.updatedAt|date('M') }}</span>
						{# <span>{{ article.updatedAt|date('Y') }}</span> #}
					</span>
					<h3>
						<a href="{{ url }}">{{ article.title }}</a>
					</h3>
					<p>{{ article.content|striptags|truncate(133, '...')|raw }}...</p>
				</div>
				<div class="info">
					<span class="author">
						<a href="{{ url }}">
							<span data-feather="user"></span>{{ article.author.fullname }}
						</a>
					</span>
					<span class="comments">
						<a href="{{ url }}#comment-block"><span data-feather="message-circle"></span>{{ article.comments|length }}</a>
					</span>
				</div>
			</article>
		</div>		
	{% endfor %}
{% else %}
	{{ alerts.info("Pas d'articles disponibles actuellement.") }}
{% endif %}

