{% import "util/alerts.twig" as alert %}

<div class="post-comment-block">
	<div class="comment-respond">
		<h4>Commentaire</h4>
		{% if is_granted('ROLE_USER') %}
			<form action="#">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" placeholder="Name" class="form-control">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<input type="email" placeholder="Email address" class="form-control">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<textarea placeholder="Comment" class="form-control"></textarea>
						</div>
						<div class="form-group">
							<input class="custom-radio" type="checkbox" id="radio-4" name="termsandcondition">
							<label for="radio-4">
								<span class="dot"></span>
								Notify me of follow-up comments by email.
							</label>
						</div>
					</div>
				</div>
				<button class="button primary-bg">Submit</button>
			</form>
		{% else %}
			<p class="alert alert-info">
				<a data-toggle="modal" data-target="#loginModal" href="#" class="btn-link">
					<i class="fa fa-info-circle fa-lg"></i>
					Connectez-vous pour commenter</a>
			</p>
			<form action="#">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<textarea placeholder="Commentaire" class="form-control" disabled></textarea>
						</div>
					</div>
				</div>
				<button class="button primary-bg" disabled>Commenter</button>
			</form>
		{% endif %}
	</div>
	<div class="comment-area">
		<h4>{{ comments|length }}
			Commentaire{{ comments|length != 1 ? 's' : '' }}</h4>
		<ul class="comments">
			{% for comment in comments %}
				<li class="comment">
					<div class="comment-wrap">
						<div class="comment-info">
							<div class="commenter-thumb">
								<img src="/images/account/default-avatar-profile.jpg" class="img-fluid" alt="">
							</div>
							<div class="commenter-info">
								<span class="commenter-name">{{ comment.author.fullname }}</span>
								<span class="date">{{ comment.createdAt|date('d M Y') }}
									{% if comment.modified %}
										<small>&mdash; modifié</small>
									{% endif %}
								</span>
							</div>
							<div class="reply">
								<button type="button" class="reply-button" data-toggle="modal" data-target="#{% if is_granted('ROLE_USER') %}#replay-{{ loop.index}}-modal}}{% else %}#loginModal{% endif %}">Répondre</button>
								{% if is_granted('ROLE_USER') %}
									<div class="modal fade" id="replay-{{ loop.index }}-modal" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-body">
													<div class="comment-respond">
														<h4>Vous répondez à
															{{ comment.author.fullname }}</h4>
														<form action="#">
															<div class="row">
																<div class="col-md-6">
																	<div class="form-group">
																		<input type="text" placeholder="Name" class="form-control">
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-md-12">
																	<div class="form-group">
																		<textarea placeholder="Commentaire" class="form-control"></textarea>
																	</div>
																	{# <div class="form-group">
																	                                                        <input class="custom-radio" type="checkbox" id="radio-6" name="termsandcondition2">
																	                                                        <label for="radio-6">
																	                                                            <span class="dot"></span> Notify me of follow-up comments by email.
																	                                                        </label>
																	                                                        </div> #}
																</div>
															</div>
															<button class="button primary-bg">Envoyer</button>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								{% endif %}
							</div>
						</div>
						<div class="comment-body">
							<p>{{ comment.content }}</p>
						</div>
					</div>
					{% if comment.replies is not empty %}
						<ul class="comments child-comment">
							<li class="comment">
								<div class="comment-wrap">
									<div class="comment-info">
										<div class="commenter-thumb">
											<img src="/uploads/user/977d55803d396f5cfcdc819899abc3663d08fbc0.jpg" class="img-fluid" alt="">
										</div>
										<div class="commenter-info">
											<span class="commenter-name">Bechir Ba</span>
											<span class="date">25 Avril 2019</span>
										</div>
										<div class="reply">
											<button type="button" class="reply-button" data-toggle="modal" data-target="#modal-skill26">Reply</button>
											<div class="modal fade" id="modal-skill26" tabindex="-1" role="dialog" aria-hidden="true">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-body">
															<div class="comment-respond">
																<h4>Write A Comment</h4>
																<form action="#">
																	<div class="row">
																		<div class="col-md-6">
																			<div class="form-group">
																				<input type="text" placeholder="Name" class="form-control">
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<input type="email" placeholder="Email address" class="form-control">
																			</div>
																		</div>
																	</div>
																	<div class="row">
																		<div class="col-md-12">
																			<div class="form-group">
																				<textarea placeholder="Comment" class="form-control"></textarea>
																			</div>
																			<div class="form-group">
																				<input class="custom-radio" type="checkbox" id="radio-7" name="termsandcondition3">
																				<label for="radio-7">
																					<span class="dot"></span>
																					Notify me of follow-up comments by email.
																				</label>
																			</div>
																		</div>
																	</div>
																	<button class="button primary-bg">Submit</button>
																</form>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="comment-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									</div>
								</div>
							</li>
						</ul>
					{% endif %}
				</li>
			{% else %}
				{{ alert.info('Soyez le premier à commenter!') }}
			{% endfor %}
		</ul>
	</div>
</div>
