{% extends 'base.html.twig' %}
{% import 'util/breadcrumb.html.twig' as breadcrumb %}

{% set absolute_url = url('blog_article_show', {slug: article.slug})|url_encode %}

{% trans_default_domain 'blog' %}

{% block title %}{{ article.title }} &mdash; {{ website.name }}{% endblock %}

{% block og_meta %}
  <meta property="og:url"              content="{{ absolute_url }}" />
  <meta property="og:type"             content="website" />
  <meta property="og:title"            content="{{ article.title }} | {{ website.name }}" />
  <meta property="twitter:title"       content="{{ article.title }} | {{ website.name }}" />
  <meta property="title"               content="{{ article.title }} | {{ website.name }}" />
  <meta property="og:description"      content="{{ article.content|raw[0: 400] }}" />
  <meta property="twitter:description" content="{{ article.content|raw[0: 400] }}" />
  <meta name="description"             content="{{ article.content|raw[0: 400] }}" />
  <meta property="twitter:card"        content="summary" />
  {% if article.coverImage %}
    {# <meta property="og:image"          content=""{{ app.request.getSchemeAndHttpHost }} ~ {{ vich_uploader_asset(article.company.photo, 'companyPhotoFile') }} /> #}
    {# <meta property="twitter:image"     content=""{{ app.request.getSchemeAndHttpHost }} ~ {{ vich_uploader_asset(article.company.photo, 'companyPhotoFile') }} /> #}
  {% endif %}
{% endblock %}

{% block main %}
    {{ breadcrumb.level_2({title: 'Blog', path: 'blog_index'}, article.title) }}
    
    <div class="alice-bg padding-top-60 section-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="blog-post-details-container">
              <div class="blog-details-wrapper">
                <div class="info">
                  <span class="date">{{ article.updatedAt|date('d M Y') }}</span>
                  <span class="author"><a href="#"><i data-feather="user"></i>{{ article.author.fullname }}</a></span>
                  <span class="comments"><i data-feather="message-circle"></i>{{ article.comments|length }}</span>
                </div>
                <div class="post-content overflow-hidden">
                  {{ article.content|raw }}
                </div>
              </div>
              <div class="post-meta">
                <div class="post-author">
                  <div class="avatar">
                    {% set url = '/images/account/default-avatar-profile.jpg' %}
                    {% if article.author.avatar %}
                      {% set url = vich_uploader_asset(article.author.avatar, 'avatarFile') %}
                    {% endif %}
                    <img src="{{ url }}" class="img-fluid" alt="Image {{ article.author.fullname }}">
                  </div>
                  <div class="name">
                    <p>Par</p>
                    <h5><a href="#">{{ article.author.fullname }}</a></h5>
                  </div>
                </div>
                <div class="post-tag">
                  <h6>Tags</h6>
                  <div class="tags">
                    {% for tag in ['Design', 'Creative', 'Photoshop', 'Tech'] %}
                      <a href="{{ path('blog_index', {tag: tag}) }}">{{ tag }}</a>
                    {% endfor %}
                  </div>
                </div>
                <div class="post-share">
                  <h6>Partagez l'article</h6>
                  <div class="social-buttons pt-1">
                    <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ absolute_url }}&title={{ article.title }}" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                    <a target="_blank" href="whatsapp://send?text={{ absolute_url }}" class="whatsapp position-relative pr-5"><i class="fab fa-whatsapp fa-3x"></i></a>
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ absolute_url }}&caption={{ article.title }}" class="facebook"><i class="fab fa-facebook-f"></i></a>
                    <a target="_blank" href="http://twitter.com/share?text={{ article.title }}&amp;counturl={{ absolute_url }}" class="twitter"><i class="fab fa-twitter"></i></a>
                  </div>
                </div>
              </div>
              {% include "blog/post-comment-block.html.twig" with {comments: article.comments} %}
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}