{% import 'util/company_widgets.twig' as widgets %}

<div class="employer-filter-result">
    {% for company in companies %}
        {% set path = path('company_show', {slug: company.slug}) %}
        <div class="employer">

            {# Company thumb #}
            {{ widgets.thumb(company, path) }}

            <div class="body">
                <div class="content">
                    <h4>
                        <a href="{{ path }}">{{ company.name }}</a>
                    </h4>

                    {# Company infos #}
                    {{ widgets.infos(company) }}
                </div>
                <div class="button-area">
                    <a href="{{ path('applications_list', {company: company.slug}) }}">{{ random(2, 17) }} Offres</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
