{% extends 'company/base.html.twig' %}

{% import 'util/util.twig' as util %}

{% trans_default_domain 'company' %}

{% block title %}{{ company and company.name is not empty ? company.name ~ ' | Modifier ' : 'Ajoutez votre organisation' }}{% endblock %}

{% block content %}
    {{ form_start(form, {'attr': { 'class': 'dashboard-form job-post-form' } }) }}
        <div class="dashboard-section upload-profile-photo">
            <div class="update-photo">
                {% if company and company.photo %}
                    <img alt="{{ company.name }} Logo" class="image" src="{{ vich_uploader_asset(company.photo, 'companyPhotoFile') }}">
                {% else %}
                    <img alt="Pas de logo" class="image" src="{{ asset('images/account/default-logo.jpg') }}">
                {% endif %}
                
            </div>
            <div class="file-upload">{{ 'form.edit_logo'|trans }}
                {{ form_widget(form.photo.companyPhotoFile, {'attr': {'class': 'file-input'}}) }}
            </div>
        </div>
        <div class="dashboard-section basic-info-input">
            <h4><i data-feather="user-check"></i>{{ 'form.edit_infos'|trans }}<span class="small text-capitalize float-right">{{ 'form.required_inputs'|trans({}, 'messages')|raw }}</span></h4>
            {% if not form.vars.valid %}
                <div class="form-group row">
                    {% for children in form.children %}
                        {% if not children.vars.valid %}
                            <div class="alert alert-danger">
                                {% if children.first is defined %}
                                    {{ form_errors(children.first) }}
                                {% else %}
                                    {{ form_errors(children) }}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Nom de l'organisation {{ util.formRequired() }} </label>
                <div class="col-sm-9">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}})}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ 'form.category'|trans }}</label>
                <div class="col-sm-9">
                    {{ form_widget(form.category, {'attr': {'class': 'form-control'}})}}
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ 'form.email'|trans }}</label>
                <div class="col-sm-9">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}})}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ 'form.address'|trans }}</label>
                <div class="col-sm-9">
                    {{ form_widget(form.address, {'attr': {'class': 'form-control'}})}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ 'form.region'|trans }}</label>
                <div class="col-sm-9">
                    {{ form_widget(form.region, {'attr': {'class': 'form-control'}})}}
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ 'form.website'|trans }}</label>
                <div class="col-sm-9">
                    {{ form_widget(form.website, {'attr': {'class': 'form-control'}})}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ 'form.about_company.label'|trans }}{{ util.formRequired() }} </label>
                <div class="col-sm-9">
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}})}}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <button type="submit" class="button">{{ 'form.save_change'|trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
