{% extends 'base.html.twig' %}

{% import 'util/breadcrumb.html.twig' as breadcrumb %}

{% trans_default_domain 'comapny' %}

{% block title %}{{ 'listing.title'|trans({}, 'company') }}{% endblock %}

{% block main %}

    {{ breadcrumb.level_1('company.listing_title') }}

    <div class="alice-bg section-padding-bottom">
      <div class="container">
        <div class="row no-gutters">
          <div class="col">
            <div class="employer-container">
              <div class="filtered-employer-wrapper">
                <div class="employer-view-controller-wrapper">
                  <div class="employer-view-controller">
                    <div class="controller list active">
                      <i data-feather="menu"></i>
                    </div>
                    <div class="controller grid">
                      <i data-feather="grid"></i>
                    </div>
                    <div class="employer-view-filter">
                      <select class="selectpicker">
                        <option value="recent" selected>Plus Récent</option>
                        <option value="popular">Plus Populaire</option>
                      </select>
                    </div>
                  </div>
                  <div class="showing-number">
                    <span>Résultats</span>
                  </div>
                </div>
                
                {% include 'company/companies-items.html.twig' with {companies: companies} %}

                <div class="pagination-list text-center">
                  <nav class="navigation pagination">
                    <div class="nav-links">
                      <a class="prev page-numbers" href="#"><i class="fas fa-angle-left"></i></a>
                      <a class="page-numbers" href="#">1</a>
                      <span aria-current="page" class="page-numbers current">2</span>
                      <a class="page-numbers" href="#">3</a>
                      <a class="page-numbers" href="#">4</a>
                      <a class="next page-numbers" href="#"><i class="fas fa-angle-right"></i></a>
                    </div>
                  </nav>                
                </div>
              </div>
              <div class="employer-filter-wrapper">
                <div class="selected-options same-pad">
                  <div class="selection-title">
                    <h4>Sélection</h4>
                    <a href="#">Effacer tous</a>
                  </div>
                  <ul class="filtered-options">
                  </ul>
                </div>
                <div class="employer-filter-dropdown same-pad category">
                  <select class="selectpicker">
                    <option value="" selected>Catégorie</option>
                    {% set categories = categoriesCount() %}
                    {% for category, key in categories %}
                        <option value="{{ category }}">{{ category|trans({}, 'jobs-categories') }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="employer-filter-dropdown same-pad location">
                  <select class="selectpicker">
                    <option value="" selected>Région</option>
                    {% set regions = regionsCount() %}
                    {% for region, key in regions %}
                        <option value="{{ region }}">{{ region|trans({}, 'regions') }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}