<!-- Call to Action -->
<div class="call-to-action-bg padding-top-90 padding-bottom-90">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="call-to-action-2">
                    <div class="call-to-action-content">
                        <h2>{{ 'call_to_action.title'|trans }}</h2>
                        <p>{{ 'call_to_action.body'|trans }}</p>
                    </div>
                    <div class="call-to-action-button">
                        <a class="button" href="{{ path('add_resume') }}">{{ 'home.add_resume'|trans }}</a>
                        <span>{{ 'word.or'|trans }}</span>
                        <a class="button" href="{{ path('application_create') }}">{{ 'layout.post_job'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call to Action End -->