<footer class="footer-bg">
    <div class="footer-top border-bottom padding-top-60 padding-bottom-40">
        <div class="container-fluid px-5">
            <div class="row px-5">
                <div class="col-md-6">
                    <div class="footer-logo">
                        <a href="">
                            <img alt="" class="img-fluid" style="height: 37px;" src="{{ asset('images/logo-2.png') }}">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-social">
                        <ul class="social-icons">
                            <li>
                                <a href="">
                                    <i data-feather="facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i data-feather="twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i data-feather="linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i data-feather="instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i data-feather="youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-widget-wrapper padding-top-60">
        <div class="container-fuild px-5">
            <div class="row px-5">
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="footer-widget footer-shortcut-link">
                        <h4>Le Site</h4>
                        <div class="widget-inner">
                            <ul>
                                <li><a href="{{ path('about') }}">{{ 'layout.about'|trans }}</a></li>
                                <li><a href="{{ path('contact') }}">Nos services</a></li>
                                <li><a href="{{ path('blog_index') }}">Blog</a></li>
                                <li><a href="{{ path('contact') }}">Plan du site</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="footer-widget footer-shortcut-link">
                        <h4>Candidat</h4>
                        <div class="widget-inner">
                            <ul>
                                <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.create_account'|trans }}</a></li>
                                <li><a href="{{ path('edit_resume') }}">Déposez votre CV</a></li>
                                <li><a href="{{ path('pricing') }}">Actus & conseils</a></li>
                                <li><a href="{{ path('pricing') }}">Modèles de CV gratuits</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <div class="footer-widget footer-shortcut-link">
                        <h4>Recruteur</h4>
                        <div class="widget-inner">
                            <ul>
                                <li><a href="{{ path('help_faq') }}">Ajoutez votre entreprise</a></li>
                                <li><a href="{{ path('application_create') }}">{{ 'layout.post_job'|trans }}</a></li>
                                <li><a href="{{ path('application_create') }}">CV thèque</a></li>
                                <li><a href="{{ path('pricing') }}">Voir nos tarifs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget footer-shortcut-link">
                        <h4>En Plus</h4>
                        <div class="widget-inner">
                            <ul>
                                <li><a href="{{ path('help_faq') }}">{{ 'layout.help_faq'|trans }}</a></li>
                                <li><a href="{{ path('contact') }}">{{ 'layout.contact_us'|trans }}</a></li>
                                <li><a class="text-capitalize" href="{{ path('privacy') }}">{{ 'layout.privacy'|trans }}</a></li>
                                <li><a class="text-capitalize" href="{{ path('terms_conditions') }}">{{ 'layout.terms_conditions'|trans }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget footer-newsletter">
                        <h4>{{ 'form.title'|trans({}, 'newsletter') }}</h4>
                        <p>{{ 'form.body'|trans({}, 'newsletter') }}</p>
                        <form action="home-4.html#" class="newsletter-form form-inline">
                        <div class="form-group w-50">
                            <input type="text" class="form-control" placeholder="{{ 'form.email'|trans({}, 'newsletter') }}">
                        </div>
                        <button class="btn button primary-bg p-3 mt-4">{{ 'form.submit'|trans({}, 'newsletter') }}<i class="fas fa-caret-right"></i></button>
                        <p class="newsletter-error">{{ 'form.error'|trans({}, 'newsletter') }}</p>
                        <p class="newsletter-success">{{ 'form.success'|trans({}, 'newsletter') }}</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container-fluid px-5">
            <div class="row mx-0">
                <div class="col px-5">
                    <div class="footer-bottom border-top py-3">
                        <div class="row">
                            <div class="col-xl-4 col-lg-5 order-lg-2">
                                <div class="footer-app-download">
                                    <a class="apple-app" href="">Apple Store</a>
                                    <a class="android-app" href="">Google Play</a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 order-lg-1">
                                <p class="copyright-text">
                                    &copy; Kelemploi {{ date()|date('Y') }} &mdash; Made with <i class="fa fa-heart text-danger"></i> By <a href="https://github.com/rand0mdev" class="btn-link">rand0mdev</a>
                                </p>
                            </div>
                            <div class="col-xl-4 col-lg-3 order-lg-3">
                                <div class="back-to-top">
                                    <a href="#">{{ 'layout.footer_back_top'|trans }}<i class="fas fa-angle-up"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>