<footer class="footer-bg">
    <div class="footer-top border-bottom section-padding-top padding-bottom-40">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-logo">
                        <a href="">
                            <img alt="" class="img-fluid" src="{{ asset('images/footer-logo.png') }}">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-social">
                        <ul class="social-icons">
                            <li>
                                <a href="">
                                    <i data-feather="facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i data-feather="twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i data-feather="linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i data-feather="instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i data-feather="youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-widget-wrapper padding-bottom-60 padding-top-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="footer-widget widget-about">
                        <h4>About Us</h4>
                        <div class="widget-inner">
                            <p class="description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                            <span class="about-contact">
                                <i data-feather="phone-forwarded"></i>{{ website.phoneNumber }}</span>
                            <span class="about-contact">
                                <i data-feather="mail"></i>{{ website.email }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-sm-6">
                    <div class="footer-widget footer-shortcut-link">
                        <h4>Information</h4>
                        <div class="widget-inner">
                            <ul>
                                <li><a href="{{ path('about') }}">About Us</a></li>
                                <li><a href="{{ path('contact') }}">Contact Us</a></li>
                                <li><a href="{{ path('privacy') }}">Privacy Policy</a></li>
                                <li><a href="{{ path('terms_conditions') }}">Terms &amp; Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget footer-shortcut-link">
                        <h4>Employers</h4>
                        <div class="widget-inner">
                            <ul>
                                <li><a href="{{ path('how_it_work') }}">How it works</a></li>
                                <li><a href="{{ path('fos_user_registration_register') }}">Create Account</a></li>
                                <li><a href="{{ path('application_create') }}">Post a Job</a></li>
                                <li><a href="{{ path('help_faq') }}">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer-bottom border-top">
                        <div class="row">
                            <div class="col-xl-4 col-lg-5 order-lg-2">
                                <div class="footer-app-download">
                                    <a class="apple-app" href="">Apple Store</a>
                                    <a class="android-app" href="">Google Play</a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 order-lg-1">
                                <p class="copyright-text">Copyright
                                    <a href="#" onlick="return false">{{ website.name }}</a>
                                    2019, All right reserved</p>
                            </div>
                            <div class="col-xl-4 col-lg-3 order-lg-3">
                                <div class="back-to-top">
                                    <a href="#">Back to top<i class="fas fa-angle-up"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
