<footer class="footer-bg">
    <div class="footer-top border-bottom section-padding-top padding-bottom-40">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-logo">
                        <a href="">
                            <img alt="" class="img-fluid" src="{{ asset('images/footer-logo.png') }}">
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-social">
                        <ul class="social-icons">
                            <li>
                                <a href="">
                                    <i data-feather="facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i data-feather="twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i data-feather="linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i data-feather="instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i data-feather="youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-widget-wrapper padding-bottom-60 padding-top-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="footer-widget widget-about">
                        <h4>{{ 'layout.about_us'|trans }}</h4>
                        <div class="widget-inner">
                            <p class="description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                            <span class="about-contact">
                                <i data-feather="phone-forwarded"></i>{{ website.phoneNumber }}</span>
                            <span class="about-contact">
                                <i data-feather="mail"></i>{{ website.email }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-sm-6">
                    <div class="footer-widget footer-shortcut-link">
                        <h4>{{ 'layout.footer_infos'|trans }}</h4>
                        <div class="widget-inner">
                            <ul>
                                <li><a href="{{ path('about') }}">{{ 'layout.about'|trans }}</a></li>
                                <li><a href="{{ path('contact') }}">{{ 'layout.contact_us'|trans }}</a></li>
                                <li><a class="text-capitalize" href="{{ path('privacy') }}">{{ 'layout.privacy'|trans }}</a></li>
                                <li><a class="text-capitalize" href="{{ path('terms_conditions') }}">{{ 'layout.terms_conditions'|trans }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget footer-shortcut-link">
                        <h4>{{ 'layout.footer_employes'|trans }}</h4>
                        <div class="widget-inner">
                            <ul>
                                <li><a href="{{ path('how_it_work') }}">{{ 'layout.how_it_work'|trans }}</a></li>
                                <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.create_account'|trans }}</a></li>
                                <li><a href="{{ path('application_create') }}">{{ 'layout.post_job'|trans }}</a></li>
                                <li><a href="{{ path('help_faq') }}">{{ 'layout.help_faq'|trans }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer-bottom border-top">
                        <div class="row">
                            <div class="col-xl-4 col-lg-5 order-lg-2">
                                <div class="footer-app-download">
                                    <a class="apple-app" href="">Apple Store</a>
                                    <a class="android-app" href="">Google Play</a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 order-lg-1">
                                <p class="copyright-text">
                                    {{ 'layout.copyright'|trans({'%name%': website.name, '%date%': date()|date('Y') }) }}
                                </p>
                            </div>
                            <div class="col-xl-4 col-lg-3 order-lg-3">
                                <div class="back-to-top">
                                    <a href="#">{{ 'layout.footer_back_top'|trans }}<i class="fas fa-angle-up"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
