<header class="header-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header-top">
                    <div class="logo-area">
                        <a href="{{ path('index') }}"><img alt="{{ website.name }} logo" src="{{ asset('images/logo-2.png') }}"></a>
                    </div>
                    <div class="header-top-toggler">
                        <div class="header-top-toggler-button"></div>
                    </div>
                    <div class="top-nav" id="user">
                        {% if is_granted('ROLE_USER') %}

                            {# {% include 'common/header-top-notification.htl.twig' %} #}

                            <div class="dropdown header-top-account">
                                <a class="account-button" href="#">{{ 'user.my_account'|trans }}</a>
                                <div class="account-card">
                                    <div class="header-top-account-info">
                                        <a class="account-thumb" href="#">
                                            {% if app.user.avatar %}
                                                {# <img alt="{{ app.user.fullName }} Photo" class="image" src="{{ vich_uploader_asset(app.user.avatar, 'avatarFile') }}"> #}
                                                <div class="profile-image" data-image="{{ vich_uploader_asset(app.user.avatar, 'avatarFile') }}"></div>
                                            {% else %}
                                                <img src="{{ asset('images/account/default-avatar-profile.jpg') }}" class="img-fluid" alt="No image">
                                            {% endif %}
                                        </a>
                                        <div class="account-body">
                                            <h5>
                                                <a href="#">{{ app.user.username }}</a>
                                            </h5>
                                            <span class="mail">{{ app.user.email }}</span>
                                        </div>
                                    </div>
                                    <ul class="account-item-list">
                                        {% if app.user.haveCompany %}
                                            <li>
                                                <a href="{{ path('company_dashboard') }}">
                                                    <span class="ti ti-briefcase"></span>{{ app.user.company.name|capitalize }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        
                                        <li>
                                            <a href="{{ path('user_dashboard') }}">
                                                <span class="ti-user"></span>{{ 'user.account'|trans }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('user_settings') }}">
                                                <span class="ti-settings"></span>{{ 'user.settings'|trans }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('fos_user_security_logout') }}">
                                                <span class="ti-power-off"></span>{{ 'user.logout'|trans }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {% else %}
                            <div class="dropdown header-top-account login-modals">
                                <button data-target="#exampleModalLong" data-toggle="modal" title="Title" type="button">{{ 'user.login'|trans }}</button>
                                {# <button data-target="#exampleModalLong2" data-toggle="modal" title="Title" type="button">{{ 'user.register'|trans }}</button> #}
                                <a href="{{ path('fos_user_registration_register') }}" class="text-muted">{{ 'user.register'|trans }}</a> | 
                            </div>
                        {% endif %}
                        <select class="selectpicker select-language" data-width="fit">
                            {% set lang = ('app.locale.' ~ request_locale)|trans %}
                            <option data-content=''>{{ lang }}</option> {# <span class="flag-icon flag-icon-{{ request_locale }}"></span> {{ lang }} #}
                            {% for l in locales() %}
                                {% if l.code != request_locale %}
                                    <option
                                        data-href="{{ path( app.request.get('_route', 'index'), app.request.get('_route_params', [])|merge({_locale: l.code})) }}"
                                        data-content=''> {# <span class="flag-icon flag-icon-{{ l.code }}"></span> {{ l.name }} #}
                                        {{ l.name }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg cp-nav-2">
                    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="menu-item active">
                                <a href="{{ path('index') }}" title="{{ 'layout.home'|trans }}">{{ 'layout.home'|trans }}</a>
                            </li>
                            <li class="menu-item">
                                <a href="{{ path('how_it_work') }}" title="{{ 'layout.how_it_work'|trans }}">{{ 'layout.how_it_work'|trans }}</a>
                            </li>
                            <li class="menu-item">
                                <a href="{{ path('applications_list') }}" title="{{ 'layout.applications_list'|trans }}">{{ 'layout.applications_list'|trans }}</a>
                            </li>
                            <li class="menu-item">
                                <a href="{{ path('candidates_list') }}" title="{{ 'layout.candidates_list'|trans }}">{{ 'layout.candidates_list'|trans }}</a>
                            </li>
                            <li class="menu-item">
                                <a href="{{ path('companies_list') }}" title="{{ 'layout.entreprises_list'|trans }}">{{ 'layout.entreprises_list'|trans }}</a>
                            </li>
                            <li class="menu-item">
                                <a href="{{ path('pricing') }}">{{ 'layout.pricing'|trans }}</a>
                            </li>
                            <li class="menu-item">
                                <a href="{{ path('blog_index') }}" title="{{ 'layout.blog'|trans }}">{{ 'layout.blog'|trans }}</a>
                            </li>
                            {% if is_granted('ROLE_EMPLOYER') or not is_granted('ROLE_USER') %}
                                <li class="menu-item post-job">
                                    <a href="{{ path('application_create') }}">
                                        <i class="fas fa-plus"></i>{{ 'layout.post_job'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
