{% set user = app.user %}

<header class="header-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="header-top pt-4 pb-2">
                    <div class="logo-area">
                        <a href="{{ path('index') }}"><img alt="{{ website.name }} logo" src="{{ asset('images/logo.png') }}"></a>
                    </div>
                    <div class="header-top-toggler">
                        <div class="header-top-toggler-button"></div>
                    </div>
                    <div class="top-nav" id="user">
                        {% if is_granted('ROLE_USER') %}

                            {# {% include 'common/header-top-notification.htl.twig' %} #}

                            <div class="dropdown header-top-account">
                                <a class="account-button mr-0 pr-0" href="#">Mon compte</a>
                                <div class="account-card">
                                    <div class="header-top-account-info">
                                        <a class="account-thumb" href="javascript:void()">
                                            {% if user.avatar %}
                                                <div class="profile-image" data-image="{{ vich_uploader_asset(user.avatar, 'avatarFile') }}"></div>
                                            {% else %}
                                                <img src="{{ asset('images/account/default-avatar-profile.jpg') }}" class="img-fluid" alt="No image">
                                            {% endif %}
                                        </a>
                                        <div class="account-body">
                                            <h5>
                                                <a href="javascript:void()">{{ user.username }}</a>
                                            </h5>
                                            <span class="mail">{{ user.email }}</span>
                                        </div>
                                    </div>
                                    <ul class="account-item-list">
                                        {% if user.isEmployer() %}
                                            {% if user.haveCompany() %}
                                                <li>
                                                    <a href="{{ path('company_dashboard') }}">
                                                        <span class="ti-briefcase"></span>{{ user.company.name|capitalize }}
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="{{ path('company_edit_profile') }}">
                                                        <span class="ti-plus"></span> Ajouter votre organisation
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% elseif user.isCandidate() %}
                                            <li>
                                                <a href="{{ path('user_dashboard') }}">
                                                    <span class="ti-home"></span>Tableau de bord</a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <a href="{{ path('user_settings') }}">
                                                <span class="ti-settings"></span>{{ 'user.settings'|trans }}</a>
                                        </li>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li>
                                                <a href="{{ path('admin_index') }}">
                                                    <span class="ti-shield"></span>Administration</a></li>
                                        {% endif %}
                                        <li>
                                            <a href="{{ path('fos_user_security_logout') }}">
                                                <span class="ti-power-off"></span>{{ 'user.logout'|trans }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {% else %}
                            <div class="dropdown header-top-account login-modals">
                                <button data-target="#loginModal" data-toggle="modal" title="Title" type="button">{{ 'user.login'|trans }}</button>
                                {# <button data-target="#registerModal" data-toggle="modal" title="Title" type="button">{{ 'user.register'|trans }}</button> #}
                                <a href="{{ path('fos_user_registration_register') }}" class="text-muted">{{ 'user.register'|trans }}</a>
                            </div>
                        {% endif %}
                        {# <select class="selectpicker select-language" data-width="fit">
                            {% set lang = ('app.locale.' ~ request_locale)|trans %}
                            <option data-content=''>{{ lang }}</option> {# <span class="flag-icon flag-icon-{{ request_locale }}"></span> {{ lang }} #}
                            {#% for l in locales() %}
                                {% if l.code != request_locale %}
                                    <option
                                        data-href="{{ path( app.request.get('_route', 'index'), app.request.get('_route_params', [])|merge({_locale: l.code})) }}"
                                        data-content=''> {# <span class="flag-icon flag-icon-{{ l.code }}"></span> {{ l.name }} #}
                                        {#{ l.name }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>#}
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg cp-nav-2 pb-3">
                    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="menu-item">
                                <a href="{{ path('applications_list') }}" title="Offres d'emploi au Sénégal">Offres d'emploi au Sénégal</a>
                            </li>
                            <li class="menu-item">
                                <a href="{{ path('contests_index') }}" title="Offres d'emploi">Concours</a>
                            </li>
                            <li class="menu-item">
                                <a href="{{ path('blog_index') }}" title="Blog &amp; Actualités">Actualités</a>
                            </li>
                            <li class="menu-item">
                                <a href="{{ path('resume_templates') }}" title="Modèles de CV gratuits à télécharger sur {{ website.name }}">Modèles de CV gratuits</a>
                            </li>
                            <li class="menu-item post-job">
                                <a href="{{ path('application_create') }}">
                                    <i class="fas fa-bullhorn"></i>Publier une offre
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
