<!-- NewsLetter -->
<div class="newsletter-bg padding-top-90 padding-bottom-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="newsletter-wrap">
                    <h3>{{ 'form.title'|trans({}, 'newsletter') }}</h3>
                    <p>{{ 'form.body'|trans({}, 'newsletter') }}</p>
                    <form action="" class="newsletter-form form-inline">
                        <div class="form-group">
                            <input class="form-control" placeholder="{% trans from 'newsletter' %}form.email{% endtrans %}" type="text">
                        </div>
                        <button class="btn button">{{ 'form.submit'|trans({}, 'newsletter') }}<i class="fas fa-caret-right"></i>
                        </button>
                        <p class="newsletter-error">{{ 'form.error'|trans({}, 'newsletter') }}</p>
                        <p class="newsletter-success">{{ 'form.success'|trans({}, 'newsletter') }}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- NewsLetter End -->
