{% extends 'emails/base.twig' %}

{% block base_url %}
<base href="{{ url('contact') }}" target="_blank">
{% endblock %}

{% block title %}{{ contact.subject }}{% endblock %}

{% block main %}
<p>{{ contact.message }}</p>
{% endblock %}

{% block footer %}
<p>Nom: {{ contact.name }}</p>
<p>E-mail: {{ contact.email }}</p>
{% endblock %}
