{% set request_locale = app.request.attributes.get('_locale') %}
{% set _route = app.request.get('_route') %}
<!DOCTYPE html>
<html lang="{{ request_locale }}" class="full-height">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

        <title>{% block title %}{{ website.name }}{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- External Css -->
        <link href="{{ asset('assets/css/fontawesome-all.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/themify-icons.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/et-line.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/bootstrap-select.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/plyr.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/flag.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/slick.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/owl.carousel.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/jquery.nstSlider.min.css') }}" rel="stylesheet"/>

        <!-- Custom Css -->
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/app.css') }}" rel="stylesheet" type="text/css">
        {% block stylesheets %}{% endblock %}
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500" rel="stylesheet">

        <!-- Favicon -->
        <link href="{{ asset('images/favicon.png') }}" rel="icon">
        <link href="{{ asset('images/apple-touch-icon.png') }}" rel="apple-touch-icon">
        <link href="{{ asset('images/icon-72x72.png') }}" rel="apple-touch-icon" sizes="72x72">
        <link href="{{ asset('images/icon-114x114.png') }}" rel="apple-touch-icon" sizes="114x114">

        <!--[if lt IE 9]>
            <script src="assets/js/html5shiv.min.js"></script>
            <script src="assets/js/respond.min.js"></script>
            <![endif]-->
    </head>
    <body>
    {% block body %}
        {% block header %}
        <header class="header-2">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header-top">
                            <div class="logo-area">
                                <a href="{{ path('index') }}"><img alt="" src="{{ asset('images/logo-2.png') }}"></a>
                            </div>
                            <div class="header-top-toggler">
                                <div class="header-top-toggler-button"></div>
                            </div>
                            <div class="top-nav">
                                {% if is_granted('ROLE_USER') %}
                                    
                                    {% include 'common/header-top-notification.htl.twig' %}
                                    
                                    <div class="dropdown header-top-account">
                                        <a href="dashboard-message.html#" class="account-button">My Account</a>
                                        <div class="account-card">
                                            <div class="header-top-account-info">
                                            <a href="dashboard-message.html#" class="account-thumb">
                                                <img src="{{ asset('images/account/randomdev.jpg') }}" class="img-fluid" alt="">
                                            </a>
                                            <div class="account-body">
                                                <h5><a href="dashboard-message.html#">{{ app.user.username }}</a></h5>
                                                <span class="mail">{{ app.user.email }}</span>
                                            </div>
                                            </div>
                                            <ul class="account-item-list">
                                            <li><a href="{{ path('dashboard') }}"><span class="ti-user"></span>Account</a></li>
                                            <li><a href="{{ path('dashboard') }}"><span class="ti-settings"></span>Settings</a></li>
                                            <li><a href="{{ path('fos_user_security_logout') }}"><span class="ti-power-off"></span>Log Out</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="dropdown header-top-account login-modals">
                                        <button data-target="#exampleModalLong" data-toggle="modal" title="Title" type="button">Login</button>
                                        <button data-target="#exampleModalLong2" data-toggle="modal" title="Title" type="button">Registration</button>
                                    </div>
                                {% endif %}
                                <select class="selectpicker select-language" data-width="fit">
                                    {% set lang = ('app.locale.' ~ request_locale)|trans %}
                                    <option data-content='<span class="flag-icon flag-icon-{{ request_locale }}"></span> {{ lang }}'>{{ lang }}</option>
                                    {% for l in locales() %}
                                      {% if l.code != request_locale %}
                                      <option
                                            data-href="{{ path(
                                                app.request.get('_route', 'index'),
                                                app.request.get('_route_params', [])|merge({_locale: l.code})) }}"
                                            data-content='<span class="flag-icon flag-icon-{{ l.code }}"></span> {{ l.name }}'>{{ l.name }}
                                        </option>
                                      {% endif %}
                                  {% endfor %}
                                </select>
                            </div>
                        </div>
                        <nav class="navbar navbar-expand-lg cp-nav-2">
                            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="menu-item active">
                                        <a href="{{ path('index') }}" title="Home">Home</a>
                                    </li>
                                    <li class="menu-item dropdown">
                                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="home-3.html#">Jobs</a>
                                        <ul class="dropdown-menu">
                                            <li class="menu-item">
                                                <a href="{{ path('applications_list') }}">Job Listing</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="job-listing-with-map.html">Job Listing With Map</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="job-details.html">Job Details</a>
                                            </li>
                                            <!-- <li class="menu-item"><a  href="post-job.html">Post Job</a></li> -->
                                        </ul>
                                    </li>
                                    <li class="menu-item dropdown">
                                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="home-3.html#" title="">Candidates</a>
                                        <ul class="dropdown-menu">
                                            <li class="menu-item">
                                                <a href="candidate.html">Candidate Listing</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="candidate-details.html">Candidate Details</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="add-resume.html">Add Resume</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item dropdown">
                                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="home-3.html#" title="">Employers</a>
                                        <ul class="dropdown-menu">
                                            <li class="menu-item">
                                                <a href="employer-listing.html">Employer Listing</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="employer-details.html">Employer Details</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="employer-dashboard-post-job.html">Post a Job</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item dropdown">
                                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="home-3.html#">Dashboard</a>
                                        <ul class="dropdown-menu">
                                            <li class="menu-item dropdown">
                                                <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="home-3.html#">Candidate Dashboard</a>
                                                <ul class="dropdown-menu">
                                                    <li class="menu-item">
                                                        <a href="dashboard.html">Dashboard</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="dashboard-edit-profile.html">Edit Profile</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="add-resume.html">Add Resume</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="resume.html">Resume</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="edit-resume.html">Edit Resume</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="dashboard-bookmark.html">Bookmarked</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="dashboard-applied.html">Applied</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="dashboard-pricing.html">Pricing</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="dashboard-message.html">Message</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="dashboard-alert.html">Alert</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item dropdown">
                                                <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="home-3.html#">Employer Dashboard</a>
                                                <ul class="dropdown-menu">
                                                    <li class="menu-item">
                                                        <a href="employer-dashboard.html">Employer Dashboard</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="employer-dashboard-edit-profile.html">Edit Profile</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="employer-dashboard-manage-candidate.html">Manage Candidate</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="employer-dashboard-manage-job.html">Manage Job</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="employer-dashboard-message.html">Dashboard Message</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="employer-dashboard-pricing.html">Dashboard Pricing</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="employer-dashboard-post-job.html">Post Job</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item dropdown">
                                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="home-3.html#" title="">Pages</a>
                                        <ul class="dropdown-menu">
                                            <li class="menu-item">
                                                <a href="{{ path('about') }}">About Us</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="how-it-work.html">How It Works</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="pricing.html">Pricing Plan</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="{{ path('help_faq') }}">FAQ</a>
                                            </li>
                                            <li class="menu-item dropdown">
                                                <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="home-3.html#">News &amp; Advices</a>
                                                <ul class="dropdown-menu">
                                                    <li class="menu-item">
                                                        <a href="blog.html">News</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="blog-grid.html">News Grid</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="blog-details.html">News Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item">
                                                <a href="checkout.html">Checkout</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="payment-complete.html">Payment Complete</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="invoice.html">Invoice</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="{{ path('terms_conditions') }}">Terms And Condition</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="404.html">404 Page</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="{{ path('fos_user_security_login') }}">Login</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="{{ path('fos_user_registration_register') }}">Register</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="{{ path('contact') }}">Contact Us</a>
                                    </li>
                                    <li class="menu-item post-job">
                                        <a href="{{ path('application_create') }}">
                                            <i class="fas fa-plus"></i>Post a Job</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        {% endblock header %}
        
        {% if not is_granted('ROLE_ADMIN') %}
            {% include "common/account-entry-modal.html.twig" %}
        {% endif %}

        <!--Main Layout-->
        {% block main %}{% endblock main %}
        <!--Main Layout-->

        <!-- Footer -->
        {% block footer %}
            {% include 'common/footer.html.twig' %}
        {% endblock footer %}
        <!-- Footer -->
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/popper.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/feather.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap-select.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.nstSlider.min.js') }}"></script>
        <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('assets/js/visible.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.countTo.js') }}"></script>
        <script src="{{ asset('assets/js/chart.js') }}"></script>
        <script src="{{ asset('assets/js/plyr.js') }}"></script>
        <script src="{{ asset('assets/js/tinymce.min.js') }}"></script>
        <script src="{{ asset('assets/js/slick.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.ajaxchimp.min.js') }}"></script>
        <script src="{{ asset('js/custom.js') }}"></script>
        {% block javascript %}{% endblock %}
    {% endblock %}
    </body>
</html>
