{% set request_locale = app.request.attributes.get('_locale') %}
{% set _route = app.request.get('_route') %}
<!DOCTYPE html>
<html lang="{{ request_locale }}" class="full-height">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

        <title>{% block title %}{{ website.name }}{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- External Css -->
        <link href="{{ asset('assets/css/fontawesome-all.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/themify-icons.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/et-line.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/bootstrap-select.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/plyr.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/flag.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/slick.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/owl.carousel.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/jquery.nstSlider.min.css') }}" rel="stylesheet"/>

        <!-- Custom Css -->
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/app.css') }}" rel="stylesheet" type="text/css">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500" rel="stylesheet">

        <!-- Favicon -->
        <link href="{{ asset('images/favicon.png') }}" rel="icon">
        <link href="{{ asset('images/apple-touch-icon.png') }}" rel="apple-touch-icon">
        <link href="{{ asset('images/icon-72x72.png') }}" rel="apple-touch-icon" sizes="72x72">
        <link href="{{ asset('images/icon-114x114.png') }}" rel="apple-touch-icon" sizes="114x114">

        <!--[if lt IE 9]>
            <script src="assets/js/html5shiv.min.js"></script>
            <script src="assets/js/respond.min.js"></script>
            <![endif]-->
    </head>
    <body>
    {% block body %}
        {% block header %}
            {% include 'common/header-2.html.twig' with {request_locale: request_locale} %}
        {% endblock header %}
        
        {% if not is_granted('ROLE_ADMIN') %}
            {% include "common/account-entry-modal.html.twig" %}
        {% endif %}

        <!--Main Layout-->
        {% block main %}{% endblock main %}
        <!--Main Layout-->

        <!-- Footer -->
        {% block footer %}
            {% include 'common/footer.html.twig' %}
        {% endblock footer %}
        <!-- Footer -->
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('assets/js/feather.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap-select.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.nstSlider.min.js') }}"></script>
        <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('assets/js/visible.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.countTo.js') }}"></script>
        <script src="{{ asset('assets/js/chart.js') }}"></script>
        <script src="{{ asset('assets/js/plyr.js') }}"></script>
        <script src="{{ asset('assets/js/tinymce.min.js') }}"></script>
        <script src="{{ asset('assets/js/slick.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.ajaxchimp.min.js') }}"></script>
        <script src="{{ asset('js/custom.js') }}"></script>
        {% block javascript %}{% endblock %}
    {% endblock %}
    </body>
</html>
