{% set request_locale = app.request.attributes.get('_locale') %}
{% set _route = app.request.get('_route') %}
<!DOCTYPE html>
<html lang="{{ request_locale }}" class="full-height">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

        <title>{% block title %}{{ website.name }}{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- External Css -->
        <link href="{{ asset('assets/css/fontawesome-all.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/themify-icons.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/et-line.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/bootstrap-select.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/plyr.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/flag.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/slick.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/owl.carousel.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/jquery.nstSlider.min.css') }}" rel="stylesheet"/>

        <!-- Custom Css -->
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css">
        {% block stylesheets %}{% endblock %}
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CRoboto:300i,400,500" rel="stylesheet">

        <!-- Favicon -->
        <link href="{{ asset('images/favicon.png') }}" rel="icon">
        <link href="{{ asset('images/apple-touch-icon.png') }}" rel="apple-touch-icon">
        <link href="{{ asset('images/icon-72x72.png') }}" rel="apple-touch-icon" sizes="72x72">
        <link href="{{ asset('images/icon-114x114.png') }}" rel="apple-touch-icon" sizes="114x114">

        <!--[if lt IE 9]>
            <script src="assets/js/html5shiv.min.js"></script>
            <script src="assets/js/respond.min.js"></script>
            <![endif]-->
    </head>
    <body>
        {% block header %}
        <header class="header-2">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header-top">
                            <div class="logo-area">
                                <a href="index.html"><img alt="" src="images/logo-2.png"></a>
                            </div>
                            <div class="header-top-toggler">
                                <div class="header-top-toggler-button"></div>
                            </div>
                            <div class="top-nav">
                                <div class="dropdown header-top-notification">
                                    <a class="notification-button" href="home-3.html#">Notification</a>
                                    <div class="notification-card">
                                        <div class="notification-head">
                                            <span>Notifications</span>
                                            <a href="home-3.html#">Mark all as read</a>
                                        </div>
                                        <div class="notification-body">
                                            <a class="notification-list" href="home-2.html">
                                                <i class="fas fa-bolt"></i>
                                                <p>Your Resume Updated!</p>
                                                <span class="time">5 hours ago</span>
                                            </a>
                                            <a class="notification-list" href="home-3.html#">
                                                <i class="fas fa-arrow-circle-down"></i>
                                                <p>Someone downloaded resume</p>
                                                <span class="time">11 hours ago</span>
                                            </a>
                                            <a class="notification-list" href="home-3.html#">
                                                <i class="fas fa-check-square"></i>
                                                <p>You applied for Project Manager
                                                    <span>@homeland</span>
                                                </p>
                                                <span class="time">11 hours ago</span>
                                            </a>
                                            <a class="notification-list" href="home-3.html#">
                                                <i class="fas fa-user"></i>
                                                <p>You changed password</p>
                                                <span class="time">5 hours ago</span>
                                            </a>
                                            <a class="notification-list" href="home-3.html#">
                                                <i class="fas fa-arrow-circle-down"></i>
                                                <p>Someone downloaded resume</p>
                                                <span class="time">11 hours ago</span>
                                            </a>
                                        </div>
                                        <div class="notification-footer">
                                            <a href="home-3.html#">See all notification</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown header-top-account login-modals">
                                    <button data-target="#exampleModalLong" data-toggle="modal" title="Title" type="button">Login</button>
                                    <button data-target="#exampleModalLong2" data-toggle="modal" title="Title" type="button">Registration</button>
                                </div>
                                <select class="selectpicker select-language" data-width="fit">
                                    {% set lang = ('app.locale.' ~ request_locale)|trans %}
                                    <option data-content='<span class="flag-icon flag-icon-{{ request_locale }}"></span> {{ lang }}'>{{ lang }}</option>
                                    {% for l in locales() %}
                                      {% if l.code != request_locale %}
                                      <option
                                            data-href="{{ path(
                                                app.request.get('_route', 'index'),
                                                app.request.get('_route_params', [])|merge({_locale: l.code})) }}"
                                            data-content='<span class="flag-icon flag-icon-{{ l.code }}"></span> {{ l.name }}'>{{ l.name }}
                                        </option>
                                      {% endif %}
                                  {% endfor %}
                                </select>
                            </div>
                        </div>
                        <nav class="navbar navbar-expand-lg cp-nav-2">
                            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav">
                                    <li class="menu-item active">
                                        <a href="home-1.html" title="Home">Home</a>
                                    </li>
                                    <li class="menu-item dropdown">
                                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="home-3.html#">Jobs</a>
                                        <ul class="dropdown-menu">
                                            <li class="menu-item">
                                                <a href="job-listing.html">Job Listing</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="job-listing-with-map.html">Job Listing With Map</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="job-details.html">Job Details</a>
                                            </li>
                                            <!-- <li class="menu-item"><a  href="post-job.html">Post Job</a></li> -->
                                        </ul>
                                    </li>
                                    <li class="menu-item dropdown">
                                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="home-3.html#" title="">Candidates</a>
                                        <ul class="dropdown-menu">
                                            <li class="menu-item">
                                                <a href="candidate.html">Candidate Listing</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="candidate-details.html">Candidate Details</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="add-resume.html">Add Resume</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item dropdown">
                                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="home-3.html#" title="">Employers</a>
                                        <ul class="dropdown-menu">
                                            <li class="menu-item">
                                                <a href="employer-listing.html">Employer Listing</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="employer-details.html">Employer Details</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="employer-dashboard-post-job.html">Post a Job</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item dropdown">
                                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="home-3.html#">Dashboard</a>
                                        <ul class="dropdown-menu">
                                            <li class="menu-item dropdown">
                                                <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="home-3.html#">Candidate Dashboard</a>
                                                <ul class="dropdown-menu">
                                                    <li class="menu-item">
                                                        <a href="dashboard.html">Dashboard</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="dashboard-edit-profile.html">Edit Profile</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="add-resume.html">Add Resume</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="resume.html">Resume</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="edit-resume.html">Edit Resume</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="dashboard-bookmark.html">Bookmarked</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="dashboard-applied.html">Applied</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="dashboard-pricing.html">Pricing</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="dashboard-message.html">Message</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="dashboard-alert.html">Alert</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item dropdown">
                                                <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="home-3.html#">Employer Dashboard</a>
                                                <ul class="dropdown-menu">
                                                    <li class="menu-item">
                                                        <a href="employer-dashboard.html">Employer Dashboard</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="employer-dashboard-edit-profile.html">Edit Profile</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="employer-dashboard-manage-candidate.html">Manage Candidate</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="employer-dashboard-manage-job.html">Manage Job</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="employer-dashboard-message.html">Dashboard Message</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="employer-dashboard-pricing.html">Dashboard Pricing</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="employer-dashboard-post-job.html">Post Job</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item dropdown">
                                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="home-3.html#" title="">Pages</a>
                                        <ul class="dropdown-menu">
                                            <li class="menu-item">
                                                <a href="about-us.html">About Us</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="how-it-work.html">How It Works</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="pricing.html">Pricing Plan</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="faq.html">FAQ</a>
                                            </li>
                                            <li class="menu-item dropdown">
                                                <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="home-3.html#">News &amp; Advices</a>
                                                <ul class="dropdown-menu">
                                                    <li class="menu-item">
                                                        <a href="blog.html">News</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="blog-grid.html">News Grid</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="blog-details.html">News Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item">
                                                <a href="checkout.html">Checkout</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="payment-complete.html">Payment Complete</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="invoice.html">Invoice</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="terms-and-condition.html">Terms And Condition</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="404.html">404 Page</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="login.html">Login</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="register.html">Register</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="contact.html">Contact Us</a>
                                    </li>
                                    <li class="menu-item post-job">
                                        <a href="post-job.html">
                                            <i class="fas fa-plus"></i>Post a Job</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        {% endblock header %}
        
        {% if not is_granted('ROLE_ADMIN') %}
            {% include "common/account-entry-modal.html.twig" %}
        {% endif %}

        <!--Main Layout-->
        {% block main %}{% endblock main %}
        <!--Main Layout-->

        <!-- Footer -->
        {% block footer %}
        <footer class="footer-bg">
            <div class="footer-top border-bottom section-padding-top padding-bottom-40">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-logo">
                                <a href="home-3.html#">
                                    <img alt="" class="img-fluid" src="images/footer-logo.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-social">
                                <ul class="social-icons">
                                    <li>
                                        <a href="home-3.html#">
                                            <i data-feather="facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="home-3.html#">
                                            <i data-feather="twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="home-3.html#">
                                            <i data-feather="linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="home-3.html#">
                                            <i data-feather="instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="home-3.html#">
                                            <i data-feather="youtube"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-widget-wrapper padding-bottom-60 padding-top-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-sm-6">
                            <div class="footer-widget widget-about">
                                <h4>About Us</h4>
                                <div class="widget-inner">
                                    <p class="description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                                    <span class="about-contact">
                                        <i data-feather="phone-forwarded"></i>+8 246-345-0698</span>
                                    <span class="about-contact">
                                        <i data-feather="mail"></i>supportmail@gmail.com</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 offset-lg-1 col-sm-6">
                            <div class="footer-widget footer-shortcut-link">
                                <h4>Information</h4>
                                <div class="widget-inner">
                                    <ul>
                                        <li><a href="home-3.html#">About Us</a></li>
                                        <li><a href="home-3.html#">Contact Us</a></li>
                                        <li><a href="home-3.html#">Privacy Policy</a></li>
                                        <li><a href="home-3.html#">Terms &amp; Conditions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                            <div class="footer-widget footer-shortcut-link">
                                <h4>Job Seekers</h4>
                                <div class="widget-inner">
                                    <ul>
                                        <li><a href="home-3.html#">Create Account</a></li>
                                        <li><a href="home-3.html#">Career Counseling</a></li>
                                        <li><a href="home-3.html#">My Oficiona</a></li>
                                        <li><a href="home-3.html#">FAQ</a></li>
                                        <li><a href="home-3.html#">Video Guides</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6">
                            <div class="footer-widget footer-shortcut-link">
                                <h4>Employers</h4>
                                <div class="widget-inner">
                                    <ul>
                                        <li><a href="home-3.html#">Create Account</a></li>
                                        <li><a href="home-3.html#">Products/Service</a></li>
                                        <li><a href="home-3.html#">Post a Job</a></li>
                                        <li><a href="home-3.html#">FAQ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="footer-bottom border-top">
                                <div class="row">
                                    <div class="col-xl-4 col-lg-5 order-lg-2">
                                        <div class="footer-app-download">
                                            <a class="apple-app" href="home-3.html#">Apple Store</a>
                                            <a class="android-app" href="home-3.html#">Google Play</a>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 order-lg-1">
                                        <p class="copyright-text">Copyright
                                            <a href="home-3.html#">Oficiona</a>
                                            2019, All right reserved</p>
                                    </div>
                                    <div class="col-xl-4 col-lg-3 order-lg-3">
                                        <div class="back-to-top">
                                            <a href="home-3.html#">Back to top<i class="fas fa-angle-up"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock footer %}
        <!-- Footer -->

        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/popper.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/feather.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap-select.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.nstSlider.min.js') }}"></script>
        <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('assets/js/visible.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.countTo.js') }}"></script>
        <script src="{{ asset('assets/js/chart.js') }}"></script>
        <script src="{{ asset('assets/js/plyr.js') }}"></script>
        <script src="{{ asset('assets/js/tinymce.min.js') }}"></script>
        <script src="{{ asset('assets/js/slick.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.ajaxchimp.min.js') }}"></script>
        <script src="{{ asset('js/custom.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
