<div class="table-responsive">
    <table class="table project-table table-bordered">
        {% if purchases|length > 0 %}
            <thead>
                <tr>
                    <th>#</th>
                    <th>Email du client</th>
                    <th>Date</th>
                    <th>Statut</th>
                    <th>Liens</th>
                </tr>
            </thead>
            <tbody>
            {% endif %}
            {% for p in purchases %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        {% if p.user is not null %}
                            <a href="{{ path('admin_user_show', {user: p.user.id}) }}">{{ p.user.email }}</a>
                        {% else %}
                            {{ p.email }}
                        {% endif %}
                    </td>
                    <td>{{ p.createdAt|date('d M Y') }}</td>
                    <td>
                        {% if p.state == p.CONFIRMED %}
                            <span class="label label-success">{{ p.state|trans }}</span>
                        {% elseif p.state == p.PENDING %}
                            <span class="label label-warning">{{ p.state|trans }}</span>
                        {% else %}
                            <span class="label label-default">{{ p.state|trans }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="#">Détails</a>
                    </td>
                </tr>
            {% else %}
                <p class="text-center my-6">Aucune réservation effectuée.</p>
            {% endfor %}
        </tbody>
    </table>
</div>