{% extends 'user/base.html.twig' %}

{% import 'util/util.twig' as util %}

{% block title %}{{ 'edit_resume'|trans({}, 'user') }}{% endblock %}

{% block content %}
{# <div class="download-resume dashboard-section">
    <div class="update-file">
        <input type="file">Uploadez votre CV
        <i data-feather="edit-2"></i>
    </div>
    <span>Uploadez un fichier PDF</span>
</div> #}
<div class="skill-and-profile dashboard-section">
    <div class="skill">
        <label>Compétences:</label>
        {% for skill in resume.skills %}
            <a href="#" onclick="return false">{{ skill }}</a>
        {% else %}
        {% endfor %}
        <!-- Button trigger modal -->
        <button class="btn btn-primary edit-button" data-target="#modal-skill" data-toggle="modal" type="button">
            <i data-feather="edit-2"></i>
        </button>
        <!-- Modal -->
        <div aria-hidden="true" class="modal fade" id="modal-skill" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="title">
                            <h4><i data-feather="git-branch"></i>Mes compétances</h4>
                        </div>
                        <div class="content">
                            {{ form_start(skillsForm) }}
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Modifier mes compétances</label>
                                    <div class="col-sm-9">
                                        {{ form_widget(skillsForm.skills) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="buttons">
                                            <button class="primary-bg">Entregistrer</button>
                                            <button class="" data-dismiss="modal">Annuler</button>
                                        </div>
                                    </div>
                                </div>
                            {{ form_end(skillsForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-profile">
        <label>Réseaux:</label>
        <a href="#">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="#">
            <i class="fab fa-github"></i>
        </a>
        <!-- Button trigger modal -->
        <button class="btn btn-primary edit-button" data-target="#modal-social" data-toggle="modal" type="button">
            <i data-feather="edit-2"></i>
        </button>
        <!-- Modal -->
        <div aria-hidden="true" class="modal fade" id="modal-social" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="title">
                            <h4><i data-feather="git-branch"></i>Réseaux sociaux</h4>
                        </div>
                        <div class="content">
                            <form action="#">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Liens vers vos profils</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fab fa-facebook-f"></i>
                                                </div>
                                            </div>
                                            <input class="form-control" placeholder="facebook.com/nom-utilisateur" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fab fa-twitter"></i>
                                                </div>
                                            </div>
                                            <input class="form-control" placeholder="twitter.com/nom-utilisateur" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </div>
                                            </div>
                                            <input class="form-control" placeholder="linkedin.com/nom-utilisateur" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fab fa-github"></i>
                                                </div>
                                            </div>
                                            <input class="form-control" placeholder="github.com/nom-utilisateur" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text dropdown-label">
                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                        <option>Choisir</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                    <i class="fa fa-caret-down"></i>
                                                </div>
                                            </div>
                                            <input class="form-control" placeholder="Ajouter un lien vers votre profil" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="buttons">
                                            <button class="primary-bg">Entregistrer les modifications</button>
                                            <button class="" data-dismiss="modal">Annuler</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="resume-title details-section dashboard-section">
    <h4><i data-feather="user"></i>
        {{ resume.title ? : 'Ajouter un titre' }}
    </h4>
    <button class="btn btn-primary edit-resume" data-target="#modal-title" data-toggle="modal" type="button">
        <i data-feather="edit-2"></i>
    </button>
    <!-- Modal -->
    <div aria-hidden="true" class="modal fade modal-title" id="modal-title" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="title">
                        <h4><i data-feather="book"></i>Titre</h4>
                    </div>
                    <div class="content">
                        <form method="POST">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Titre</div>
                                            </div>
                                            <input class="form-control" type="text" placeholder="ex: Ingénieur en résaux et télécoms" name="resume_edit_title_value" value="{{ resume.title }}">
                                            <input type="hidden" name="resume_edit_title__token" value="{{ csrf_token('resume.edit.title.token') }}" />
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="offset-sm-3 col-sm-9 mt-5">
                                    <div class="buttons">
                                        <button class="primary-bg">Enregister les modifications</button>
                                        <button class="" data-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<hr>
</div>
<div class="about-details details-section dashboard-section">
    <h4><i data-feather="align-left"></i>À propos de moi</h4>
    {% if resume.about %}
        {{ resume.about|raw }}
    {% else %}
        <p class="lead">Cette section est vide.<p>
    {% endif %}
    <div class="information-and-contact">
        <div class="information">
            <h4>Information</h4>
            <ul>
                <li><span>Catégorie:</span>{{ resume.jobCategory|trans({}, 'jobs-categories') }}</li>
                <li><span>Région:</span>{{ user.region|trans({}, 'regions')}}</li>
                <li><span>Expérience:</span>{{ resume.experienceLevel|trans }}</li>
                <li><span>Sexe:</span>{{ user.gender|trans }}</li>
                <li><span>Âge:</span>{{ user.age ? (user.age ~ ' ' ~ 'user.years_old'|trans) : '-' }}</li>
                <li><span>Niveau d'études:</span>{{ resume.studyLevel|trans }}</li>
            </ul>
        </div>
    </div>
    <!-- Button trigger modal -->
    <button class="btn btn-primary edit-resume" data-target="#modal-about-me" data-toggle="modal" type="button">
        <i data-feather="edit-2"></i>
    </button>
    <!-- Modal -->
    <div aria-hidden="true" class="modal fade" id="modal-about-me" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="title">
                        <h4><i data-feather="align-left"></i>À propos de moi</h4>
                    </div>
                    <div class="content">
                        {{ form_start(aboutForm) }}
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Votre nom complet</label>
                                <div class="col-sm-9">
                                    {{ form_widget(aboutForm.fullName, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Parlez de vous</label>
                                <div class="col-sm-9">
                                    {{ form_widget(aboutForm.about, {'attr': {'class': 'tinymce-editor-1', 'palceholder': 'Parlez nous de vous en quelques lignes...'}}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Catégorie</label>
                                <div class="col-sm-9">
                                    {{ form_widget(aboutForm.jobCategory, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Niveau d'études</label>
                                    <div class="col-sm-9">{{ form_widget(aboutForm.studyLevel, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Expérience</label>
                                    <div class="col-sm-9">{{ form_widget(aboutForm.experienceLevel, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-sm-3 col-sm-9">
                                    <div class="buttons">
                                        <button class="primary-bg">Enregister</button>
                                        <button class="" data-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        {{ form_end(aboutForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="edication-background details-section dashboard-section">
    <h4><i data-feather="book"></i>Éducation</h4>
    {% for education in resume.educations %}
        <div class="education-label">
            <span class="study-year">{{ education.period }}</span>
            <h5>{{ education.designation }}<span>@ {{ education.institue }}</span>
            </h5>
            <p>{{ education.description }}</p>
        </div>
    {% else %}
        <p class="lead">Cette section est vide</p>
    {% endfor %}
    <!-- Button trigger modal -->
    <button class="btn btn-primary edit-resume" data-target="#modal-education" data-toggle="modal" type="button">
        <i data-feather="edit-2"></i>
    </button>
    <!-- Modal -->
    <div aria-hidden="true" class="modal fade modal-education" id="modal-education" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="title">
                        <h4><i data-feather="book"></i>Éducations</h4>
                        <a class="add-more" href="#">+ Ajouter</a>
                    </div>
                    <div class="content">
                        {{ form_start(educationsForm) }}
                        {% for education in educationsForm.educations %}
                            <div class="input-block-wrap">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Éducation {{ loop.index }}</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Titre</div>
                                            </div>
                                            {{ form_widget(education.designation, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Institut</div>
                                            </div>
                                            {{ form_widget(education.institue, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-9 offset-sm-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Période</div>
                                            </div>
                                            {{ form_widget(education.period, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Description</div>
                                            </div>
                                            {{ form_widget(education.description, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                            <div class="row">
                                <div class="offset-sm-3 col-sm-9 mt-5">
                                    <div class="buttons">
                                        <button class="primary-bg">Enregister les modifications</button>
                                        <button class="" data-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        {{ form_end(educationsForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="experience dashboard-section details-section">
    <h4><i data-feather="briefcase"></i>Expérience professionnelle</h4>
    {% for xp in resume.workExperiences %}
        <div class="experience-section">
            <span class="service-year">{{ xp.period }}</span>
            <h5>{{ xp.designation }}<span>@ {{ xp.companyName }}</span>
            </h5>
            <p>{{ xp.description }}</p>
        </div>
    {% else %}
        <p class="lead">Cette section est vide</p>
    {% endfor %}
    <!-- Button trigger modal -->
    <button class="btn btn-primary edit-resume" data-target="#modal-experience" data-toggle="modal" type="button">
        <i data-feather="edit-2"></i>
    </button>
    <!-- Modal -->
    <div aria-hidden="true" class="modal fade modal-experience" id="modal-experience" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="title">
                        <h4>
                            <i data-feather="briefcase"></i>Expériences</h4>
                        <a class="add-more" href="#">+ Ajouter une expérience</a>
                    </div>
                    <div class="content">
                        {{ form_start(workExperiencesForm) }}
                        {% for xp in workExperiencesForm.workExperiences %}
                            <div class="input-block-wrap">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Expérience {{ loop.index }}</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Titre</div>
                                            </div>
                                            {{ form_widget(xp.designation, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Société</div>
                                            </div>
                                            {{ form_widget(xp.companyName, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-9 offset-sm-3">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Période</div>
                                            </div>
                                            {{ form_widget(xp.period, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Description</div>
                                            </div>
                                            {{ form_widget(xp.description, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                            <div class="row">
                                <div class="offset-sm-3 col-sm-9">
                                    <div class="buttons">
                                        <button class="primary-bg">Enregister</button>
                                        <button class="" data-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        {{ form_end(workExperiencesForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="professonal-skill dashboard-section details-section">
    <h4><i data-feather="feather"></i>Compétences professionnelles</h4>
    <div class="progress-group">
    {% for skill in resume.proSkills %}
        <div class="progress-item">
            <div class="progress-head">
                <p class="progress-on">{{ skill.name }}</p>
            </div>
            <div class="progress-body">
                <div class="progress">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{ skill.percentage }}" class="progress-bar" role="progressbar" style="width: 0;"></div>
                </div>
                <p class="progress-to">{{ skill.percentage }}%</p>
            </div>
        </div>
    {% else %}
        <p class="lead">Cette section est vide</p>
    {% endfor %}
    </div>
    <!-- Button trigger modal -->
    <button class="btn btn-primary edit-resume" data-target="#modal-pro-skill" data-toggle="modal" type="button">
        <i data-feather="edit-2"></i>
    </button>
    <!-- Modal -->
    <div aria-hidden="true" class="modal fade modal-pro-skill" id="modal-pro-skill" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="title">
                        <h4><i data-feather="feather"></i>Compétences professionnelles</h4>
                        <a class="add-more" href="#">+ Ajouter une compétance</a>
                    </div>
                    <div class="content">
                            {{ form_start(proSkillsForm) }}
                            {% for skill in proSkillsForm.proSkills %}
                                <div class="input-block-wrap mb-3">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Compétence {{ loop.index }}</label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Nom</div>
                                                </div>
                                                {{ form_widget(skill.name, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-3 col-sm-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">Pourcentage</div>
                                                </div>
                                                {{ form_widget(skill.percentage, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="row">
                                <div class="offset-sm-3 col-sm-9 mt-5">
                                    <div class="buttons">
                                        <button class="primary-bg">Enregister</button>
                                        <button class="" data-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        {{ form_end(proSkillsForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{# <div class="special-qualification dashboard-section details-section">
    <h4>
        <i data-feather="gift"></i>Special Qualification</h4>
    <ul>
        <li>5 years+ experience designing and building products.</li>
        <li>Skilled at any Kind Design Tools.</li>
        <li>Passion for people-centered design, solid intuition.</li>
        <li>Hard Worker & Quick Lerner.</li>
    </ul>
    <!-- Button trigger modal -->
    <button class="btn btn-primary edit-resume" data-target="#modal-qualification" data-toggle="modal" type="button">
        <i data-feather="edit-2"></i>
    </button>
    <!-- Modal -->
    <div aria-hidden="true" class="modal fade" id="modal-qualification" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="title">
                        <h4>
                            <i data-feather="align-left"></i>Special Qualification</h4>
                        <a class="add-more" href="#">+ Add Another</a>
                    </div>
                    <div class="content">
                        <form action="#">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Type Here</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">01</div>
                                        </div>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-3 col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">02</div>
                                        </div>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-3 col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">03</div>
                                        </div>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-3 col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">04</div>
                                        </div>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-3 col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">05</div>
                                        </div>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-sm-3 col-sm-9">
                                    <div class="buttons">
                                        <button class="primary-bg">Save Update</button>
                                        <button class="" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio dashboard-section details-section">
    <h4>
        <i data-feather="gift"></i>Portfolio</h4>
    <div class="portfolio-slider owl-carousel">
        <div class="portfolio-item">
            <img alt="" class="img-fluid" src="/images/portfolio/thumb-3.jpg">
            <div class="overlay">
                <a href="#">
                    <i data-feather="eye"></i>
                </a>
                <a href="#">
                    <i data-feather="link"></i>
                </a>
            </div>
        </div>
        <div class="portfolio-item">
            <img alt="" class="img-fluid" src="/images/portfolio/thumb-1.jpg">
            <div class="overlay">
                <a href="#">
                    <i data-feather="eye"></i>
                </a>
                <a href="#">
                    <i data-feather="link"></i>
                </a>
            </div>
        </div>
        <div class="portfolio-item">
            <img alt="" class="img-fluid" src="/images/portfolio/thumb-2.jpg">
            <div class="overlay">
                <a href="#">
                    <i data-feather="eye"></i>
                </a>
                <a href="#">
                    <i data-feather="link"></i>
                </a>
            </div>
        </div>
        <div class="portfolio-item">
            <img alt="" class="img-fluid" src="/images/portfolio/thumb-3.jpg">
            <div class="overlay">
                <a href="#">
                    <i data-feather="eye"></i>
                </a>
                <a href="#">
                    <i data-feather="link"></i>
                </a>
            </div>
        </div>
        <div class="portfolio-item">
            <img alt="" class="img-fluid" src="/images/portfolio/thumb-2.jpg">
            <div class="overlay">
                <a href="#">
                    <i data-feather="eye"></i>
                </a>
                <a href="#">
                    <i data-feather="link"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- Button trigger modal -->
    <button class="btn btn-primary edit-resume" data-target="#modal-portfolio" data-toggle="modal" type="button">
        <i data-feather="edit-2"></i>
    </button>
    <!-- Modal -->
    <div aria-hidden="true" class="modal fade modal-portfolio" id="modal-portfolio" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="title">
                        <h4>
                            <i data-feather="grid"></i>Portfolio</h4>
                        <a class="add-more" href="#">+ Add Another</a>
                    </div>
                    <div class="content">
                        <form action="#">
                            <div class="input-block-wrap">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Portfolio 01</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Title</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Image</div>
                                            </div>
                                            <div class="upload-profile-photo">
                                                <div class="update-photo">
                                                    <img alt="" class="image" src="/images/portfolio/thumb-1.jpg">
                                                </div>
                                                <div class="file-upload">
                                                    <input class="file-input" type="file">Change Avatar
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Link</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-block-wrap">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Portfolio 02</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Title</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Image</div>
                                            </div>
                                            <div class="upload-profile-photo">
                                                <div class="update-photo">
                                                    <img alt="" class="image" src="/images/portfolio/thumb-1.jpg">
                                                </div>
                                                <div class="file-upload">
                                                    <input class="file-input" type="file">Change Avatar
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Link</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="input-block-wrap">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Portfolio 03</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Title</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Image</div>
                                            </div>
                                            <div class="upload-profile-photo">
                                                <div class="update-photo">
                                                    <img alt="" class="image" src="/images/portfolio/thumb-1.jpg">
                                                </div>
                                                <div class="file-upload">
                                                    <input class="file-input" type="file">Change Avatar
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-3 col-sm-9">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">Link</div>
                                            </div>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="offset-sm-3 col-sm-9">
                                    <div class="buttons">
                                        <button class="primary-bg">Save Update</button>
                                        <button class="" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>#}

<div class="border-top mt-5 section-padding-top">
    <a href="{{ path('delete_resume') }}" class="btn btn-danger"><i class="fa fa-trash"></i> Supprimer mon CV</a>
</div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/resume.js') }}"></script>
{% endblock %}