{% extends 'base.html.twig' %}

{% trans_default_domain 'candidate' %}

{% import 'util/candidate_widgets.twig' as widgets %}

{% block title %}
  {% if resume and resume.title %}{{ resume.title }} &ndash; {% endif %}{{ user.fullName|capitalize }}
 | {{ website.name }}
{% endblock %}

{% block main %}
    <div class="alice-bg padding-top-60 section-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="candidate-details">
              <div class="title-and-info">
                <div class="title">
                  {{ widgets.thumb(user) }}
                  <div class="title-body">
                    <h1 class="h4">{{ user.fullname }}
                      {% if resume and resume.title %} &ndash; {{ resume.title }}{% endif %}
                    </h1>
                    {{ widgets.infos(user) }}
                  </div>
                </div>
                <div class="download-resume">
                  <a href="#">Télécharger le CV <i data-feather="download"></i></a>
                </div>
              </div>
              <div class="skill-and-profile">
                <div class="skill">
                  <label>Compétences en</label>
                  {% if resume %}
                  {% for skill in resume.skills %}
                    <a href="#">{{ skill }}</a>
                  {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class="details-information section-padding-60">
                <div class="row">
                    <div class="col-xl-7 col-lg-8">
                    {% if resume %}
                      <div class="about-details details-section">
                        <h4><i data-feather="align-left"></i>{{ 'details.about'|trans }}</h4>
                        <p>{{ resume.about|raw }}</p>
                      </div>
                      <div class="edication-background details-section">
                        <h4><i data-feather="book"></i>Éducations</h4>
                        {% for e in resume.educations %}
                          <div class="education-label">
                            <span class="study-year">{{ e.period }}</span>
                            <h5>{{ e.designation }}<span>@ {{ e.institue }}</span></h5>
                            <p>{{ e.description }}</p>
                          </div>
                        {% else %}
                          <p class="lead">Cette section est vide</p>
                        {% endfor %}
                      </div>
                      <div class="experience details-section">
                        <h4><i data-feather="briefcase"></i>Éxperiences professionnelles</h4>
                        {% for xp in resume.workExperiences %}
                          <div class="experience-section">
                            <span class="service-year">{{ xp.period }}</span>
                            <h5>{{ xp.designation }}<span>@ {{ xp.companyName }}</span></h5>
                            <p>{{ xp.description }}</p>
                          </div>
                        {% else %}
                          <p class="lead">Cette section est vide</p>
                        {% endfor %}
                      </div>
                      <div class="professonal-skill details-section">
                        <h4><i data-feather="feather"></i>Compétences professionnelles</h4>
                        <div class="progress-group">
                          {% for ps in resume.proSkills %}
                            <div class="progress-item">
                              <div class="progress-head">
                                <p class="progress-on">{{ ps.name }}</p>
                              </div>
                              <div class="progress-body">
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" aria-valuenow="{{ ps.percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: 0;"></div>
                                </div>
                                <p class="progress-to">{{ ps.percentage }}%</p>
                              </div>
                            </div>
                          {% else %}
                            <p class="lead">Cette section est vide</p>
                          {% endfor %}
                        </div>
                      </div>
                      {# <div class="special-qualification details-section">
                        <h4><i data-feather="gift"></i>Special Qualification</h4>
                        <ul>
                          <li>5 years+ experience designing and building products.</li>
                          <li>Skilled at any Kind Design Tools.</li>
                          <li>Passion for people-centered design, solid intuition.</li>
                          <li>Hard Worker & Quick Lerner.</li>
                        </ul>
                      </div>
                      <div class="portfolio details-section">
                        <h4><i data-feather="gift"></i>Portfolio</h4>
                        <div class="portfolio-slider owl-carousel">
                          <div class="portfolio-item">
                            <img src="/images/portfolio/thumb-3.jpg" class="img-fluid" alt="">
                            <div class="overlay">
                              <a href="#"><i data-feather="eye"></i></a>
                              <a href="#"><i data-feather="link"></i></a>
                            </div>
                          </div>
                          <div class="portfolio-item">
                            <img src="/images/portfolio/thumb-1.jpg" class="img-fluid" alt="">
                            <div class="overlay">
                              <a href="#"><i data-feather="eye"></i></a>
                              <a href="#"><i data-feather="link"></i></a>
                            </div>
                          </div>
                          <div class="portfolio-item">
                            <img src="/images/portfolio/thumb-2.jpg" class="img-fluid" alt="">
                            <div class="overlay">
                              <a href="#"><i data-feather="eye"></i></a>
                              <a href="#"><i data-feather="link"></i></a>
                            </div>
                          </div>
                          <div class="portfolio-item">
                            <img src="/images/portfolio/thumb-3.jpg" class="img-fluid" alt="">
                            <div class="overlay">
                              <a href="#"><i data-feather="eye"></i></a>
                              <a href="#"><i data-feather="link"></i></a>
                            </div>
                          </div>
                          <div class="portfolio-item">
                            <img src="/images/portfolio/thumb-2.jpg" class="img-fluid" alt="">
                            <div class="overlay">
                              <a href="#"><i data-feather="eye"></i></a>
                              <a href="#"><i data-feather="link"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>#}
                    {% else %}
                      <div class="alert alert-info">
                      <p class="lead">Cette section est vide</p>
                      </div>
                    {% endif %}
                    </div>
                  <div class="col-xl-4 offset-xl-1 col-lg-4">
                    <div class="information-and-contact">
                      <div class="information">
                        <h4>{{ 'layout.footer_infos'|trans({}, 'messages') }}</h4>
                        <ul>
                          <li><span>{{ 'form.full_name'|trans }}</span> {{ user.fullName }}</li>
                          {% if resume and resume.jobCategory %}
                            <li><span>{{ 'candidate.domain'|trans({}, 'messages') }}</span> {{ resume.jobCategory|trans({}, 'jobs-categories') }}</li>
                          {% endif %}
                          {% if user.region %}
                            <li><span>{{ 'job.region'|trans({}, 'messages') }}</span> {{ user.region|trans({}, 'regions') }}</li>
                          {% endif %}
                          {# <li><span>{{ 'job.contract_type'|trans }}</span> Full-time</li> #}
                          {% if resume and resume.experienceLevel %}
                            <li><span>{{ 'job.experience'|trans({}, 'messages') }}</span> {{ resume.experienceLevel|trans({}, 'messages') }}</li>
                          {% endif %}
                          {% if user.gender %}
                            <li><span>{{ 'job.gender'|trans({}, 'messages') }}</span>{{ user.gender|trans({}, 'messages') }}</li>
                          {% endif %}
                          {% if user.age %}
                            <li><span>{{ 'job.age'|trans({}, 'messages') }}</span>{{ user.age}} {{ 'user.years_old'|trans({}, 'messages') }}</li>
                          {% endif %}
                          {% if resume and resume.studyLevel %}
                            <li><span>{{ 'job.level'|trans({}, 'messages') }}</span> {{ resume.studyLevel|trans({}, 'messages') }}</li>
                          {% endif %}
                        </ul>
                      </div>
                      <div class="buttons">
                        <a href="#" class="button contact-button" data-toggle="modal" data-target="#exampleModal">{{ 'contact.button'|trans }}</a>
                        <a href="#" class="button cover-download" style="width: 100%"><i data-feather="download"></i>{{ 'download_cv'|trans }}</a>
                        {# <a href="#" class="button contact-download"><i data-feather="download"></i>{{ 'download_contact'|trans }}</a> #}
                      </div>
                      <!-- Modal -->
                      <div class="modal fade contact-form-modal" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-body">
                              <h4><i data-feather="edit"></i>{{ 'contact.button'|trans }}</h4>
                              <form action="#">
                                <div class="form-group">
                                  <input type="text" class="form-control" placeholder="Your Name">
                                </div>
                                <div class="form-group">
                                  <input type="email" class="form-control" placeholder="Your Email">
                                </div>
                                <div class="form-group">
                                  <textarea class="form-control" placeholder="Your Message"></textarea>
                                </div>
                                <button class="button">Submit</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'common/call-to-action.html.twig' %}
{% endblock %}