{% extends 'user/base.html.twig' %}

{% trans_default_domain 'user' %}

{% block title %}{{ 'edit_profile'|trans }}{% endblock %}
{% block content %}
    {{ form_start(form, {'attr': { 'class': 'dashboard-form job-post-form' } }) }}
        <div class="dashboard-section upload-profile-photo">
            <div class="update-photo">
                {% if app.user.avatar %}
                    <img alt="{{ app.user.fullName }} Photo" class="image" src="{{ vich_uploader_asset(app.user.avatar, 'avatarFile') }}">
                {% else %}
                    <img alt="No image" class="image" src="{{ asset('images/account/default-avatar-profile.jpg') }}">
                {% endif %}
                
            </div>
            <div class="file-upload">{{ 'form.edit_avatar'|trans }}
                {{ form_widget(form.avatar.avatarFile, {'attr': {'class': 'file-input'}}) }}
            </div>
        </div>
        <div class="dashboard-section basic-info-input">
            <h4><i data-feather="user-check"></i>{{ 'form.edit_infos'|trans }}</h4>
            {% if not form.vars.valid %}
                <div class="form-group row">
                    {% for children in form.children %}
                        {% if not children.vars.valid %}
                            <div class="alert alert-danger">
                                {% if children.first is defined %}
                                    {{ form_errors(children.first) }}
                                {% else %}
                                    {{ form_errors(children) }}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ 'form.first_name'|trans }}</label>
                <div class="col-sm-9">
                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}})}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ 'form.last_name'|trans }}</label>
                <div class="col-sm-9">
                    {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}})}}
                </div>
            </div>
            {# <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ 'form.username'|trans }}</label>
                <div class="col-sm-9">
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}})}}
                </div>
            </div> #}
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ 'form.civility'|trans }}</label>
                <div class="col-sm-9">
                    {{ form_widget(form.civility, {'attr': {'class': 'form-control'}})}}
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ 'form.email'|trans }}</label>
                <div class="col-sm-9">
                    <p class="text-muted">{{ app.user.email }}</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ 'form.phone'|trans }}</label>
                <div class="col-sm-9">
                    {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control'}})}}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ 'form.region'|trans }}</label>
                <div class="col-sm-9">
                    {{ form_widget(form.region, {'attr': {'class': 'form-control'}})}}
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ 'form.jobCategory'|trans }}</label>
                <div class="col-sm-9">
                    {{ form_widget(form.jobCategory, {'attr': {'class': 'form-control'}})}}
                    <i class="fa fa-caret-down"></i>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">{{ 'form.about_user.label'|trans }}</label>
                <div class="col-sm-9">
                    {{ form_widget(form.about, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9">
                <button type="submit" class="button">{{ 'form.save_change'|trans }}</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
